.about{
    background-color: $color_white;
    
    &__content{
        margin-bottom: 40px;
    }
    &__bg_shap{
        display: none;
    }

    @media (min-width: 1200px) {
        &__bg_shap{
            display: block;
            position: absolute;
            right: -60px;
            bottom: 0;
            max-width: 300px;
        }
    }
}