.feature {
    margin-bottom: 40px;

    h2 {
        margin-bottom: 24px;
    }

    .card {
        p {
            display: -webkit-box;
            max-width: 1005;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}