.we_have {
    background-color: $color_white;
    padding-top: 0;

    h2,
    h3,
    p,
    span {
        color: $color_natural_head;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 12px;
        line-height: 40px;
        font-weight: 600;
    }

    h2,
    p {
        text-align: center;
    }

    img {
        border-radius: $radius_3;
    }

    &__cards {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    &__card {
        text-align: center;

        span {
            font-size: 32px;
            color: $color_primary;
            font-weight: 700;
        }

        h3 {
            margin-top: 16px;
            font-weight: 400;
        }
    }

    @media (min-width: 992px) {

        h2,
        p {
            text-align: start;
        }

        img {
            height: 100%;
        }
    }
}