.accordion {
    .accordion-item {
        border: none;
        box-shadow: $shadow_2;
    }

    .accordion-header {}

    .accordion-button {
        padding: 12px 16px;
        gap: 2px;
        font-weight: 600;
        color: $color_natural_description;
        border-bottom: 1px solid $color-secondary;

        &:not(.collapsed) {
            background-color: $color_primary;
            color: $color_white;

            &::after{
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
            }
        }

        &:focus {
            box-shadow: none;
        }

    }

    .accordion-collapse {}

    .accordion-body {
        color: $color_natural_description;

        a {
            font-weight: 600;
        }
    }


    // Responsive
    @media (min-width: 576px) {
        .accordion-button {
            padding: 12px 18px;
        }
    }
}