.nav-link.btn_img, .accordion-button.btn_img {
    background-color: $color_natural_description;
    padding: 16px;
    color: $color_white;
    border-radius: $radius_1 $radius_1 0 0;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        border-radius: $radius_1;
        margin-right: 16px;
        box-shadow: $shadow_journal;
    }

    span {
        font-size: 14px;
        margin-right: 8px;
        font-weight: 700;
        text-align: start;
    }

    &:not(.collapsed) {
        background-color: $color_natural_head;
    }

    &::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    }

    // Responsive
    @media (min-width: 1200px){
        padding: 20px;

        img{
            width: 120px;
        }
        span{
            font-size: 18px;
        }
    }
}