.card_sidebar {

    // Responsive
    @media (min-width: 992px) {
        background-color: $color_white;
        box-shadow: $shadow_link_card;
        padding: 12px 16px;

        h4 {
            font-size: 14px;
            font-weight: 500;

            a {
                color: $color_natural_head !important;

                &:hover {
                    color: $color_primary !important;
                }
            }
        }

        &__label {
            padding: 4px 8px;
            margin-right: 8px;
            font-size: 12px;
            font-weight: 500;
            background-color: $color_primary;
            color: $color_white;
            border-radius: 2px;
        }

        &__date {
            font-size: 12px;
            font-weight: 400;
        }
    }

    &:last-of-type{
        margin-bottom: 12px;
        border-bottom-left-radius: $radius_1;
        border-bottom-right-radius: $radius_1;
    }
}