.card {
    background-color: $color_white;
    border: none;
    padding: 14px 14px 30px;
    height: 100%;
    transition: $transition;
    border-radius: $radius_3;

    &__icon {
        width: 60px;
        height: 60px;
        border-radius: $radius_circle;
        border: 2px solid $color_primary;
        padding: 20px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        margin: 0 auto;

        i {
            color: $color_primary;
            font-size: 28px;
        }

        img {
            min-width: 30px;

            &:last-child{
                display: none;
            }
        }
    }

    &__img {
        width: 100%;

        img {
            border-radius: $radius_1;
            width: 100%;
        }

        padding-bottom: 16px;
        border-bottom: 1px solid $color_primary;
    }

    &__journal {
        img {
            border-radius: $radius_3;
        }
    }

    &__journal_name {
        background-color: $color_natural_head;
        padding: 16px;
        border-radius: 0 0 $radius_3 $radius_3;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        transition: $transition;
        opacity: 0;
        display: flex;
        flex-direction: column;

        a {
            font-size: 16px;
            color: $color_primary;
        }

        span {
            color: $color_white;
            font-size: 14px;
        }
    }

    h3 {
        margin: 16px 0;
        text-align: center;
    }

    p {
        text-align: center;
        margin-bottom: 24px;
        text-align: center;
    }

    ul {
        margin-bottom: 16px;
    }

    .btn {
        margin: 0 auto;
    }

    &:hover {
        box-shadow: $shadow_hover;

        .card {
            &__icon {
                background-color: $color_primary;

                i {
                    color: $color_white;
                }

                img {
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        display: block;
                    }
                }
            }

            &__journal_name {
                opacity: 1;
            }
        }
    }

    &.card_secondary {
        background-color: $color_body;
        padding: 16px;
        position: relative;
    }

}

// card profile
.profile {
    padding: 24px 14px;

    &__img {
        margin: 0 auto;
        width: 160px;
        height: 160px;
        border-radius: $radius_circle;
        border: 3px solid $color_white;
        background-color: $color_secondary;
        overflow: hidden;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-bottom: 32px;

        // img {
        //     width: 120px;
        //     position: relative;
        //     top: 24px;
        // }
    }

    &__name {
        color: $color_natural_head;
        font-weight: 700;
        text-align: center;
        font-size: 16px;
    }

    span,
    h4 {
        text-align: center;
    }

    span {
        font-size: 14px;
    }

    h4 {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 8px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    .social {
        margin: 0 auto;

        &__link {
            border-color: $color_primary;

            i {
                color: $color_primary;
            }

            &:hover {
                background-color: $color_primary;

                i {
                    color: $color_white;
                }
            }
        }
    }

    &:hover {
        .profile {
            &__img {
                border-color: $color_primary;
            }

            &__name {
                color: $color_primary;
            }
        }
    }
}

// card journal
.journal {
    box-shadow: $shadow_1;
    transition: $transition;
    padding: 14px;
    border-radius: $radius_1;

    h2{
        font-size: 16px;
        line-height: 24px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    h2,
    p {
        text-align: start;
    }

    &__img {
        margin-bottom: 16px;
        text-align: center;

        img {
            box-shadow: $shadow_journal;
            border-radius: $radius_1;
            width: 260px;
            max-width: unset;
        }
    }

    &__description {
        margin-bottom: 24px;

        p {
            margin-bottom: 0 !important;
        }
    }

    &__links {

        a {
            text-decoration: underline;
            font-size: 14px;

            &:hover {
                color: $color_primary;
            }
        }

        .btn {
            text-decoration: none;
            padding: 6px 12px;
            justify-content: center;
        }
    }

    &:hover {
        background-color: $color_artboard;
    }


    // Responsive
    @media (min-width: 576px) {
        
        &__links {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: space-between;

            .btn{
                padding: 12px 24px;
            }
        }
    }

    @media (min-width: 768px) {
        padding: 24px 14px;
        // flex-direction: row;
        gap: 16px;

        &__img {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 0;
            font-weight: 700 !important;
        }

    }

    @media (min-width: 1200px) {
        flex-direction: row;
        gap: 24px;
        padding: 24px;

        &__img {
            img {
                width: 275px;
            }
        }
    }

    @media (min-width: 1400px) {
        &__img {
            img {
                width: 234px;
            }
        }

        .w_journal{
            img{
                width: 300px;
            }
        }

        h2{
            line-height: 30px;
        }
    }
}

// card-office
.card-office {
    padding: 16px 14px;
    border-radius: $radius_1;
    box-shadow: $shadow_1;
    height: 100%;
    font-size: 14px;

    h2 {
        margin: 16px 0 20px;
        font-size: 20px !important;
        font-weight: 600 !important;

        em {
            font-weight: 400;
        }
    }

    address {
        margin-top: 16px;
        color: $color_natural_description;
        font-weight: 600;
    }

    @media (min-width: 1200px) {
        padding: 20px;
        display: flex;
        align-items: start;
        gap: 12px;

        h3 {
            margin: 0 0 20px;
        }
    }
}

// card-issue
.card-issue {
    box-shadow: $shadow_1;
    border-radius: $radius_1;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        background-color: $color_secondary;
    }

    &__label {
        display: flex;
        gap: 10px;

        span {
            border-radius: 4px;
            padding: 8px;
            font-size: 10px;
            font-weight: 600;
            line-height: 6px;
            border: 1px solid $color_dark;
            background-color: $color_dark;
            color: $color_white;

            &:last-of-type {
                background-color: transparent;
                color: $color_dark;
            }
        }
    }

    &__statistics {
        color: $color_dark;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;

        .view {
            margin-left: 8px;
            padding-left: 10px;
            border-left: 2px solid $color_natural_head;
        }
    }

    &__content {
        padding: 16px;
        font-size: 14px;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 0;
    }

    &__img {
        margin-bottom: 16px;
    }

    &__description {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $color_secondary;

        h2 {
            font-weight: 700 !important;
        }

        p {
            margin-bottom: 0 !important;
            text-align: justify;
        }

        .text {
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__book_button{
        background-color: $color_artboard;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 12px;
    }


    @media (min-width: 576px) {
        &__statistics {
            font-size: 14px;
        }

        &__content,
        &__data {
            display: flex;
            align-items: start;
            gap: 24px;
        }
    }

    @media (min-width: 768px) {
        &__header {
            padding: 12px 24px;
        }

        &__content {
            padding: 24px;

            img {
                min-width: 76px;
            }
        }

        &__img {
            margin-bottom: 24px;

            img {
                width: auto;
            }
        }

        &__description {
            margin-top: 24px;
            padding-top: 24px;
        }

        &__book_button{
            padding: 12px 24px;
        }
    }
}

// card_feature
.card_feature{
    padding: 16px;
    background-color: $color_artboard;
    box-shadow: $shadow_1;
    border-radius: $radius_3;
    text-align: center;
    height: 100%;

    &__icon{
        width: 80px;
        min-width: 80px;
        height: 80px;
        border-radius: $radius_circle;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: $shadow_1;
        margin-bottom: 24px;
        transition: $transition;

        img{
            width: 36px;
        }
    }

    h3{
        a{
            font-weight: 700;
        }
    }
    p{
        margin-bottom: 0 !important;
    }

    &:hover {
        .card_feature{
            &__icon{
                box-shadow: $shadow_journal;
            }
        }

        a{
            color: $color_primary !important;
        }
    }


    @media (min-width: 768px) {
        padding: 24px;
        text-align: start;
    }
}

// card_more
.card_more{
    min-height: 364px;
    justify-content: center;

    h4{
        font-size: 20px !important;
        font-weight: 700 !important;
    }


    @media (min-width: 1400px) {
        min-height: 208px;
    }
}

.bg-white .card{
    background-color: $color_artboard;

    &:hover{
        background-color: $color_secondary;
    }
}