.card_logo {
    height: 38px;
    background-color: $color_white;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius_1;
    box-shadow: $shadow_2;

    img {
        max-height: 26px;
        width: auto;
    }

    &:hover {
        box-shadow: $shadow_hover;
    }

    // Responsive
    @media (min-width: 576px) {
        height: 60px;

        img {
            max-height: 48px;
        }
    }

    @media (min-width: 992px) {
        padding: 12px;
        height: 70px;
        border-radius: $radius_2;
    }
}