.card_paper {
    padding: 20px 16px;
    background-color: $color_white;
    border-radius: $radius_1;
    box-shadow: $shadow_artboard;

    &:not(:last-of-type) {
        margin-bottom: 16px;
    }

    &__img {
        display: none;
    }

    h3 {
        margin-bottom: 16px;

        a {
            color: $color_natural_head;
            font-weight: 600;
            font-size: 16px;

            &:hover {
                color: $color_primary;
            }
        }
    }

    &__tags {
        margin-top: 16px;

        a {
            font-size: 12px;
            font-weight: 500;

            &:not(:last-child) {
                &::after {
                    content: ',';
                }
            }

            &:hover {
                color: $color_natural_head;
            }
        }
    }

    // Responsive
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 8px;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }

        &__img {
            display: block;
            padding: 20px 16px;
            border-radius: $radius_1;
            background-color: $color_white;
            box-shadow: $shadow_2;

        }

    }
}