.data_col {
    display: flex;
    gap: 12px;
    font-size: 14px;

    &__title {
        width: 104px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (min-width: 576px) {
        &__title{
            width: 150px;
        }
    }
}