.filter {
    .form-select {
        appearance: none;
        -webkit-appearance: none;
        background-image: url(/assets/images/icon/filter_icon.png);
        background-position: center;
        width: 36px;
        height: 36px;
        padding: 16px;

        &:focus{
            box-shadow: none;
            border-color: $color_white;
        }
    }

    @media (min-width: 768px) {
        .form-select{
            width: auto;
            background-position: right .75rem center;
            padding: 6px 36px 6px 12px;
        }
    }
}