.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        padding: 11px 0 11px 16px;
        background-color: $color_natural_head;
        width: 50%;
    }

    &__left-link {
        a {
            display: inline-block;
            color: $color_white;

            i {
                font-size: 12px;
            }

            &:first-child {
                padding-right: 8px;
                border-right: 1px solid $color_white;
                margin-right: 6px;
            }

            &:hover {
                color: $color_primary;
            }
        }
    }

    &__right {
        padding: 6px 16px 6px 0;
        background-color: $color_primary;
        width: 50%;
        font-size: 12px;

        &::after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            -o-border-image: none;
            border-image: none;
            border-style: solid;
            border-width: 25px 15px;
            content: "";
            height: 50px;
            position: absolute;
            right: 50%;
            top: 0;
            width: 0;
            border-color: rgba(0, 0, 0, 0) $color_primary $color_primary rgba(0, 0, 0, 0);
            display: block;
        }
    }

    &__right-button {
        text-align: end;

        a {
            display: inline-block;
            padding: 5px 10px;
            background-color: $color_complementary;
            border-radius: $radius_rounded;
            font-size: 12px;
            font-weight: 400;
            color: $color_white;

            &:hover {
                background-color: $color_white;
                color: $color_natural_head;
            }
        }
    }

    // Responsive
    @media (min-width: 576px) {
        &__left {
            padding-left: 8%;
        }

        &__right {
            padding-right: 8%;
        }
    }

    @media (min-width: 1200px) {
        &__left {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__welcome-title {
            font-size: 13px;
            font-weight: 600;
            color: $color_white;
            margin-bottom: 0;
        }

        &__right {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 12px;
            padding-top: 8px;
            padding-bottom: 8px;

            &::after {
                height: 56px;
                border-width: 30px 15px;
            }

            a {
                color: $color_white;
            }
        }

        &__right-link {
            a {
                i {
                    margin-right: 2px;
                }

                &:first-child {
                    padding-right: 8px;
                    border-right: 1px solid $color_white;
                    margin-right: 6px;
                }

                &:hover {
                    color: $color_natural_head;
                }
            }
        }

        &__right-button {
            a {
                background-color: $color_white;
                color: $color_natural_head;
                font-weight: 600;
                padding: 6px 12px;

                &:hover {
                    background-color: $color_complementary;
                    color: $color_white;
                }
            }
        }
    }
}