.page_content {
    // max-width: 932px;

    p {
        margin-bottom: 20px;
        font-size: 14px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 26px;
    }

    ul {
        margin-bottom: 20px;
        list-style-image: url(../images/shape/ul_list_start2.webp);
        list-style-position: inside;
        padding-left: 0;
        font-size: 14px;
        line-height: 24px;

        li {
            padding-left: 0;
        }
    }

    &__title {
        min-height: 52px;
        padding: 16px;
        display: flex;
        align-items: center;
        background-color: $color_primary;
        border-radius: $radius_1 $radius_1 0 0;
        margin-bottom: 20px;

        h1,
        h2 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
            color: $color_white;
            line-height: 1.5;
        }
    }

    &__data {
        padding: 20px 14px;
        box-shadow: $shadow_artboard;
        border-radius: $radius_1;
        position: relative;

        p:last-child,
        ul:last-child,
        li:last-child {
            margin-bottom: 0;
        }

        a {
            color: $color_link;

            &:hover {
                color: $color_natural_head;
            }
        }
    }

    &__bg {
        position: absolute;
        right: 0;
        bottom: 190px;
        text-align: end;

        img {
            opacity: 0.1;
            width: 60%;
        }
    }

    &__contact_type {
        background-color: $color_artboard;
        color: $color_natural_description;
        margin: 40px 0;
        border-radius: $radius_1;
        padding: 30px 14px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 14px;
        border: 1px solid $color_primary;
        font-size: 14px;

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: $color_primary;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        a {
            color: $color_primary;
            text-decoration: underline;
        }
    }

    &__corporate_office {
        background-color: $color_artboard;
        padding: 16px 14px;
        text-align: center;
        margin-bottom: 16px;
        border-radius: $radius_1;
        border: 1px solid $color_primary;
        font-size: 14px;

        img {
            margin-bottom: 12px;
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        a {
            display: block;
            text-decoration: underline;
            font-weight: 600;
            margin-top: 12px;
            color: $color_primary;
        }

    }

    &__img {

        margin-bottom: 24px;

        img {
            max-height: 75px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $color_natural_head;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            display: flex;
            align-items: center;

            &:not(:last-of-type) {
                &::after {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 14px;
                    background-color: $color_primary;
                    margin: 0 8px;
                }
            }

            &.active,
            &:hover {
                color: $color_primary;
                text-decoration: underline;
            }
        }
    }

    // indexed in page
    &__indexed_in {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    // archives page
    &__archives {
        ul {
            list-style: none;
        }
    }

    // board member
    .profile_cheif {
        box-shadow: $shadow_artboard;
        overflow: hidden;

        &__img_wrap {
            position: relative;
            display: inline-grid;
            align-content: flex-start;
            justify-content: center;
            height: fit-content;
            margin-bottom: 32px;
        }

        &__img-cheif {
            position: relative;
            border: 3px solid $color_natural_description;
            border-radius: $radius_1;
            width: 260px;

            img {
                position: relative;
                width: 100%;
                z-index: 10;
            }
        }

        &__img-shap {
            background-color: $color_artboard;
            width: 150%;
            height: 65px;
            transform: rotate(20deg);
            position: absolute;
            top: 30%;
            right: -14%;
        }

        &__label {
            font-size: 20px;
            margin-top: 18px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0;
        }

        &__name,
        span,
        h4,
        p {
            text-align: start;
        }

        &__info {
            padding-bottom: 20px;
            border-bottom: 1px solid $color_natural_description_20;

            p {
                margin-bottom: 0;
            }

            h3 {
                text-align: start;
            }
        }

        &__contact {
            font-size: 16px;

            h3 {
                text-align: start;
            }

            .item {
                display: flex;
            }

            .item_title {
                width: 50px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            a {
                margin-left: 12px;
                white-space: nowrap;
                color: $color_link;

                &:hover {
                    color: $color_primary;
                }
            }

            .social {
                margin-top: 24px;
            }

            .social__link {
                margin-left: 0;
            }
        }

        &:hover {
            background-color: $color_artboard;

            .profile_cheif {
                &__img-cheif {
                    border-color: $color_primary;
                }

                &__img-shap {
                    background-color: $color_artboard;
                }
            }

        }
    }

    .profile {
        box-shadow: $shadow_artboard;

        &:hover {
            background-color: $color_artboard;
        }
    }

    &__editor {
        margin-top: 60px;

        .title {
            background-color: $color_secondary;
            padding: 16px;
            margin-bottom: 20px;

            h2 {
                margin-bottom: 0;
                font-weight: 700;
                font-size: 20px;
            }
        }
    }

    .swiper-slide {
        .profile {
            background-color: $color_artboard;

            &__img {
                border-color: $color_artboard;
            }

            &:hover {
                box-shadow: $shadow_hover;
            }
        }
    }

    .accordion {
        margin-top: 20px;
    }

    .reference_item {
        padding: 16px 0;
        border-top: 1px solid $color_line;
        border-bottom: 1px solid $color_line;

        &__title {
            font-weight: 600;
            margin-right: 6px;
        }
    }

    .publication_list {

        &>p {
            padding: 16px 0;
            border-top: 1px solid $color_line;
            border-bottom: 1px solid $color_line;
        }

        table {
            tr {
                display: block;
                padding: 16px 0;
                border-top: 1px solid $color_line;
                border-bottom: 1px solid $color_line;
            }
        }
    }


    // Responsive
    @media (min-width: 576px) {
        .profile_cheif {
            flex-direction: column;
            gap: 28px;

            &__img_wrap {
                margin-bottom: 0;
            }

            &__label {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 767px) {
        &__archives {
            .tab-content>.tab-pane {
                display: block;
                opacity: 1;
            }
        }
    }

    @media (min-width: 768px) {
        &__nav {
            justify-content: end;

            a {
                font-size: 16px;
            }
        }

        &__indexed_in {
            grid-template-columns: repeat(4, 1fr);
        }

        &__archives {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        &__contact_type {
            flex-direction: row;
            padding: 38px 20px;
        }

        &__corporate_office {
            padding: 28px 20px;
            margin-bottom: 24px;
        }

        .profile_cheif {
            padding: 24px;
        }
    }

    @media (min-width: 992px) {
        &__title {
            min-height: 66px;
            padding: 24px;

            h1,
            h2 {
                font-size: 18px;
            }
        }

        &__data {
            padding: 24px;
        }

        &__img {
            img {
                max-height: 180px;
            }
        }

        &__editor {
            .title {
                padding: 20px;
            }
        }
    }

    @media (min-width: 1200px) {
        &__indexed_in {
            grid-template-columns: repeat(5, 1fr);
            gap: 18px;
        }

        &__contact_type {
            margin: 60px 0;
        }

        .profile_cheif {
            flex-direction: row;

            &__img-cheif {
                width: 195px;

                img {
                    max-width: unset;
                }
            }

            &__info {
                border-bottom: 0;
                border-right: 1px solid $color_natural_description_20;
                padding-bottom: 0;
                padding-right: 24px;
            }
        }
    }

}

// current-issue
.current-issue {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .section_title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .show_article_post {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    @media (min-width: 768px) {
        gap: 20px;

        .section_title {
            font-size: 24px;
        }

        .show_article_post {
            gap: 20px;
        }
    }
}