.page_content {
    p {
        margin-bottom: 30px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 24px;
    }

    ul {
        margin-bottom: 30px;
        list-style-image: url(../images/shape/ul_list_start2.png);
    }

    &__title {
        height: 52px;
        padding: 16px;
        display: flex;
        align-items: center;
        background-color: $color_primary;
        border-radius: $radius_1 $radius_1 0 0;
        text-transform: capitalize;
        margin-bottom: 20px;

        h2 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
            color: $color_white;
        }
    }

    &__data {
        padding: 20px 14px;
        box-shadow: $shadow_artboard;
        border-radius: $radius_1;
        position: relative;

        p:last-child,
        ul:last-child,
        li:last-child {
            margin-bottom: 0;
        }

        ul{
            li{
                a{
                    color: $color_link;

                    &:hover{
                        color: $color_natural_head;
                    }
                }
            }
        }
    }

    &__bg{
        position: absolute;
        right: 0;
        bottom: 190px;
        text-align: end;

        img{
            opacity: 0.1;
            width: 60%;
        }
    }

    &__contact_type{
        background-color: $color_natural_description;
        color: $color_white;
        margin: 40px 0;
        border-radius: $radius_1;
        padding: 30px 14px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 14px;

        h3{
            font-size: 20px;
            font-weight: 700;
            color: $color_primary;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 20px;
        }
        a{
            text-decoration: underline;
        }
    }

    &__corporate_office{
        padding: 30px 14px;
        background-image: url(/assets/images/contact/corporate_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        margin-bottom: 40px;
        border-radius: $radius_1;
        border: 1px solid $color_primary;

        h3{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        h4{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 4px;
        }

        a{
            text-decoration: underline;
            font-weight: 600;
            margin-top: 12px;
        }

    }

    &__img {

        margin-bottom: 24px;

        img {
            max-height: 75px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $color_natural_head;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            display: flex;
            align-items: center;

            &:not(:last-of-type) {
                &::after {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 14px;
                    background-color: $color_primary;
                    margin: 0 8px;
                }
            }

            &.active,
            &:hover {
                color: $color_primary;
                text-decoration: underline;
            }
        }
    }

    // indexed in page
    &__indexed_in {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    // archives page
    &__archives {
        ul {
            list-style: none;
        }
    }

    // Responsive
    @media (max-width: 767px) {
        &__archives {
            .tab-content>.tab-pane {
                display: block;
                opacity: 1;
            }
        }
    }

    @media (min-width: 768px) {
        &__nav {
            justify-content: end;

            a {
                font-size: 16px;
            }
        }

        &__indexed_in {
            grid-template-columns: repeat(4, 1fr);
        }

        &__archives {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        &__contact_type{
            flex-direction: row;
        }
    }

    @media (min-width: 992px) {
        &__title {
            height: 66px;
            padding: 24px;

            h2 {
                font-size: 20px;
            }
        }

        &__data {
            padding: 20px;
        }

        &__img {
            img {
                max-height: 180px;
            }
        }
    }

    @media (min-width: 1200px) {
        &__indexed_in {
            grid-template-columns: repeat(5, 1fr);
            gap: 18px;
        }

        &__contact_type{
            margin: 60px 0;
        }
        &____corporate_office{
            margin-bottom: 60px;
        }
    }

}