@charset "UTF-8";
/*================================================================

	STYLESHEET INDEXING
	|
	|___helper
	|	|___fonts
	|	|___variables
	|	|___global
	|	|___animation
	|
	|___components
	|	|___nav-top
	|	|___input
	|	|___navbar
	|	|___social
	|	|___search-form
	|	|___offcanvas
	|	|___footer-item
	|	|___accordion
	|	|___card
	|	|___swiper
	|	|___nav_tabs
	|	|___card_paper
	|	|___sidebar
	|	|___card_sidebar
	|	|___card_logo
	|	|___page_content
	|	|___breadcrumb_section
	|	|___btn_img
	|	|___data_col
	|	|___pagination
	|	|___social_share
	|	|___filter
	|	|___modal
	|
	|___layout
	|	|___header
	|	|___footer
	|
	|___ sections
	|	|___banner
	|	|___about
	|	|___feature
	|	|___why_choose
	|	|___we_have
	|	|___footer_before
	|
	|___ END STYLESHEET INDEXING

===================================================================*/
/*----------------------------------
  ~~~ Helper ~~~
-----------------------------------*/
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap");
/* Variables */
/* Global */
body {
  background-color: #F7F7F7;
  color: #2D3E50;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

*:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #132833;
}
a:hover {
  color: #018B40;
}

.mb_60 {
  margin-bottom: 60px;
}

.text-truncate_2 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fs_14 {
  font-size: 14px !important;
  line-height: 24px !important;
}

address {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.container {
  padding: 0;
}

hr {
  margin: 20px 0;
  border-top: 1px solid #2D3E50;
}

main {
  overflow-x: hidden;
}

.section_gap {
  padding: 60px 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 28px;
}

h3 {
  font-size: 16px;
}

h2,
h3 {
  color: #132833;
  font-weight: 700;
}

ul {
  list-style-type: "★";
  padding-left: 12px;
  margin-bottom: 0;
  line-height: 32px;
}
ul li {
  margin-bottom: 8px;
  padding-left: 10px;
}
ul li::marker {
  color: #018B40;
  line-height: 32px;
}

img {
  max-width: 100%;
  height: auto;
}

.bg_overlay {
  position: relative;
}
.bg_overlay::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #132833;
  opacity: 0.6;
}

.moreless {
  color: #018B40;
  font-weight: 500;
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #018B40;
  bottom: 48px;
  right: 16px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back-to-top svg {
  width: 24px;
  color: #FFFFFF;
  transition: 0.3s;
}
.back-to-top:hover svg {
  color: #132833;
}

.text_primary {
  color: #018B40;
}

@media (min-width: 768px) {
  .back-to-top {
    width: 48px;
    height: 48px;
  }
  .back-to-top svg {
    width: 30px;
  }
}
@media (min-width: 992px) {
  .layout_sidebar {
    display: flex;
    gap: 44px;
  }
  .slider_maxw {
    width: 100%;
    max-width: 574px;
  }
}
@media (min-width: 1200px) {
  .section_gap {
    padding: 80px 16px;
  }
  .slider_maxw {
    width: 100%;
    max-width: 754px;
  }
}
@media (min-width: 1400px) {
  .slider_maxw {
    width: 100%;
    max-width: 934px;
  }
}
/* Animation */
@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.slide-top {
  -webkit-animation: slide-top 1.5s linear 0.5s infinite alternate both;
  animation: slide-top 1.5s linear 0.5s infinite alternate both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 1.5s linear 0.5s infinite alternate both;
  animation: scale-up-center 1.5s linear 0.5s infinite alternate both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*----------------------------------
  ~~~ Components ~~~
-----------------------------------*/
.nav-top {
  height: 32px;
  background-color: #132833;
  padding: 0 16px;
}
.nav-top__left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.nav-top__left-link a {
  display: inline-block;
  color: #FFFFFF;
  line-height: 1;
}
.nav-top__left-link a i {
  font-size: 12px;
}
.nav-top__left-link a:first-child {
  padding-right: 8px;
  border-right: 1px solid #FFFFFF;
  margin-right: 6px;
}
.nav-top__left-link a:hover {
  color: #018B40;
}
.nav-top__right {
  width: 50%;
  font-size: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 10;
}
.nav-top__right::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 16px 15px;
  content: "";
  height: 32px;
  position: absolute;
  right: 45%;
  top: 0;
  width: 0;
  border-color: rgba(0, 0, 0, 0) #018B40 #018B40 rgba(0, 0, 0, 0);
  display: block;
}
.nav-top__right-button {
  text-align: end;
}
.nav-top__right-button a {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  background-color: #FFFFFF;
  color: #132833;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  height: 21px;
}
.nav-top__right-button a:hover {
  background-color: #8B014C;
  color: #FFFFFF;
}
.nav-top .bg_skey {
  background-color: #018B40;
  height: 32px;
  width: 45%;
  position: absolute;
  right: 0;
}
@media (min-width: 1200px) {
  .nav-top {
    height: 38px;
  }
  .nav-top__welcome-title {
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  .nav-top__welcome-title a {
    color: #018B40;
  }
  .nav-top__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nav-top__right::after {
    height: 38px;
    border-width: 19px 15px;
  }
  .nav-top__right a {
    color: #FFFFFF;
  }
  .nav-top__right-link a i {
    margin-right: 4px;
  }
  .nav-top__right-link a:first-child {
    padding-right: 8px;
    border-right: 1px solid #FFFFFF;
    margin-right: 6px;
  }
  .nav-top__right-link a:hover {
    color: #132833;
  }
  .nav-top__right-button a {
    background-color: #FFFFFF;
    color: #132833;
    padding: 0 12px;
    height: 25px;
  }
  .nav-top__right-button a:hover {
    background-color: #8B014C;
    color: #FFFFFF;
  }
  .nav-top .bg_skey {
    height: 38px;
  }
}
.form-control {
  background-color: #F2F2F2;
  border-color: transparent;
  padding: 8px 16px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #018B40;
  border-color: #018B40;
}

.btn-close {
  color: #8B014C;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 1;
}
.btn-close:focus {
  box-shadow: none;
}

.btn {
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 4px;
  line-height: 1;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  width: fit-content;
}

.btn_primary {
  background-color: #018B40;
  color: #FFFFFF;
  min-width: 120px;
  justify-content: center;
}
.btn_primary:hover, .btn_primary:active {
  background-color: #FFFFFF !important;
  color: #018B40 !important;
  border-color: #018B40 !important;
}

.btn_secondary {
  background-color: #FFFFFF;
  color: #018B40;
  border-color: #018B40;
  min-width: 120px;
  justify-content: center;
}
.btn_secondary:hover, .btn_secondary:active {
  background-color: #018B40 !important;
  color: #FFFFFF !important;
  border-color: #018B40 !important;
}

.btn_link {
  padding: 0;
  margin: 0 !important;
  font-weight: 700;
  color: #2D3E50;
  height: 38px;
  font-size: 14px;
}
.btn_link i {
  margin-right: 8px;
}
.btn_link:active {
  border-color: transparent !important;
}
.btn_link:hover {
  color: #018B40;
}

.btn_full {
  width: 100%;
}

.btn_file {
  gap: 8px;
  height: 26px;
  border: 1px solid #132833;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  color: #132833;
  transition: 0.3s;
}
.btn_file:hover, .btn_file:active {
  background-color: #018B40 !important;
  color: #FFFFFF !important;
  border-color: #018B40 !important;
}
.btn_file:hover svg path, .btn_file:active svg path {
  fill: #FFFFFF;
}

@media (min-width: 576px) {
  .btn_full {
    width: auto;
  }
  .btn_primary, .btn_secondary {
    min-width: 160px;
  }
}
@media (min-width: 768px) {
  .btn_file {
    height: 30px;
    font-size: 14px;
    padding: 8px 12px;
  }
}
.navbar {
  padding: 14px 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  height: 60px;
}
.navbar.sticky {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  animation: sticky 0.3s;
}
.navbar__brand img {
  width: 100px;
}
.navbar__toggler {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.navbar__toggler:focus {
  box-shadow: none;
}
.navbar__toggler i {
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #132833;
  color: #132833;
  font-size: 15px;
  transition: 0.3s;
}
.navbar__toggler:hover i {
  border-color: #018B40;
  background-color: #018B40;
  color: #FFFFFF;
}
.navbar .navbar-nav .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-nav .dropdown-toggle::after {
  margin-left: 6px;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item {
  margin-bottom: 0;
  padding-left: 0;
}
.navbar .navbar-nav .nav-item.active .dropdown-toggle {
  color: #018B40;
  border-color: #018B40;
}
.navbar .navbar-nav .nav-item.active .dropdown-toggle::after {
  transform: rotate(180deg);
}
.navbar .navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
  font-weight: 500;
  color: #2D3E50;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
  color: #018B40;
  border-color: #018B40;
}
.navbar .navbar-nav .nav-link.active::after, .navbar .navbar-nav .nav-link.show::after {
  transform: rotate(180deg);
}
.navbar .dropdown-menu {
  border: none;
  animation: 0.3s slide-top;
}
.navbar .dropdown-menu li {
  margin-bottom: 0;
  padding-left: 0;
}
.navbar .dropdown-menu .active .dropdown-item {
  background-color: #018B40;
  color: #FFFFFF;
}
.navbar .dropdown-item {
  font-weight: 400;
  padding: 8px 16px;
  border-bottom: 1px solid #F2F2F2;
  color: #2D3E50;
}
.navbar .dropdown-item:hover, .navbar .dropdown-item:active {
  background-color: #018B40;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .navbar {
    height: 78px;
  }
}
@media (min-width: 768px) {
  .navbar__brand img {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .navbar__toggler {
    display: none;
  }
  .navbar .navbar-nav {
    flex-direction: row;
  }
  .navbar .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .dropdown-menu {
    position: absolute;
    top: 60px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    margin-top: 0;
    border-top: 1px solid #F2F2F2;
    box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.social__link {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link i {
  font-size: 12px;
  color: #FFFFFF;
}
.social__link:hover {
  background-color: #FFFFFF;
}
.social__link:hover i {
  color: #132833;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.search-form__input {
  border-radius: 100px;
}
.search-form__button {
  position: absolute;
  right: 0;
  border: none;
  padding: 8px 16px;
  transition: 0.3s;
}
.search-form__button i {
  color: #2D3E50;
  opacity: 50%;
}
.search-form__button:hover i {
  color: #018B40;
  opacity: 1;
}
@media (min-width: 576px) {
  .search-form {
    margin-bottom: 0;
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .search-form {
    width: 170px;
  }
}
@media (min-width: 1400px) {
  .search-form {
    width: 190px;
  }
}

.offcanvas {
  padding: 16px;
}
.offcanvas.offcanvas-start {
  width: 300px;
}

.footer-item {
  color: #FFFFFF;
}
.footer-item__logo {
  width: 120px;
  margin-bottom: 12px;
}
.footer-item__description {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 22px;
}
.footer-item__description a {
  color: #018B40;
}
.footer-item__description a:hover {
  color: #FFFFFF;
}
.footer-item .social__link:hover {
  background-color: #018B40;
  color: #FFFFFF;
  border-color: #018B40;
}
.footer-item .social__link:hover svg path {
  fill: #FFFFFF;
}
.footer-item__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 30px;
  color: #FFFFFF;
}
.footer-item__nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-item__nav-item {
  margin-bottom: 2px;
  padding-left: 0;
}
.footer-item__nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #FFFFFF;
}
.footer-item__nav-link:hover {
  color: #018B40;
  text-decoration: underline;
}
.footer-item__copyright_icon {
  margin-right: 12px;
}
.footer-item__payment_method {
  width: 220px;
}
.footer-item__description_copyright {
  font-size: 12px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .footer-item__logo {
    width: 140px;
  }
  .footer-item__title {
    font-size: 16px;
  }
  .footer-item__description_copyright {
    font-size: 14px;
  }
}

.accordion .accordion-item {
  border: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
}
.accordion .accordion-item:not(:last-child) {
  margin-bottom: 12px;
}
.accordion .accordion-item:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion .accordion-item p {
  margin-bottom: 0;
}
.accordion .accordion-header {
  margin-bottom: 0 !important;
}
.accordion .accordion-button {
  padding: 12px 16px;
  gap: 2px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #132833;
}
.accordion .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion .accordion-button:not(.collapsed) {
  background-color: #132833;
  color: #FFFFFF;
  border-radius: 4px 4px 0 0;
}
.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion .accordion-button:focus {
  box-shadow: none;
}
.accordion .accordion-body {
  color: #2D3E50;
}
.accordion .accordion-body h3 {
  font-weight: 600;
}
.accordion .accordion-body a {
  font-weight: 500;
  color: #018B40;
}
.accordion.tab-content .accordion-item {
  box-shadow: none;
}
.accordion.tab-content .accordion-body {
  padding: 0;
  padding-bottom: 16px;
}
.accordion.year_accordion .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion.year_accordion .accordion-button {
  background-color: #F2F2F2;
  color: #2D3E50;
  font-weight: 700;
  border-radius: 0;
  font-size: 16px;
}
.accordion.year_accordion .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232D3E50'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion.year_accordion ul {
  margin-bottom: 0;
}
.accordion.year_accordion ul a {
  color: #2D3E50;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 16px;
  display: block;
  width: 100%;
  box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
  position: relative;
  text-decoration: underline;
}
.accordion.year_accordion ul a::after {
  content: "›";
  font-size: 32px;
  font-weight: 300;
  position: absolute;
  top: 4px;
  right: 20px;
  opacity: 0;
  transition: 0.3s;
}
.accordion.year_accordion ul a.active, .accordion.year_accordion ul a:hover {
  color: #018B40;
}
.accordion.year_accordion ul a.active::after, .accordion.year_accordion ul a:hover::after {
  right: 16px;
  opacity: 1;
}
.accordion.year_accordion ul li {
  margin-bottom: 0;
}
.accordion.year_accordion ul li:nth-child(2n) a {
  background-color: #F9F9F9;
}
.accordion.striped .accordion-item {
  border-radius: 4px;
}
.accordion.striped .accordion-item .accordion-button {
  background-color: #FFFFFF;
  color: #132833;
}
.accordion.striped .accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23018B40'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion.striped .accordion-item .accordion-button:not(.collapsed) {
  background-color: #FFFFFF;
}
.accordion.striped .accordion-item:nth-child(2n) .accordion-header {
  background-color: #F2F2F2;
}
.accordion.striped .accordion-item:nth-child(2n) .accordion-button {
  background-color: #F2F2F2;
}
.accordion.striped .accordion-item:nth-child(2n) .accordion-button:not(.collapsed) {
  background-color: #F2F2F2;
}
.accordion.accordion_home .accordion-item {
  background-color: #FFFFFF;
  box-shadow: none;
  margin-bottom: 0;
}
.accordion.accordion_home .accordion-item .accordion-button {
  background-color: #FFFFFF;
  color: #132833;
  box-shadow: none;
  display: flex;
  align-items: start;
  padding-left: 0;
  line-height: 26px;
}
.accordion.accordion_home .accordion-item .accordion-button::before {
  background-image: url("../images/icon/plus.png");
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 14px;
  margin-top: 6px;
  content: "";
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 2px;
}
.accordion.accordion_home .accordion-item .accordion-button:not(.collapsed)::before {
  background-image: url("../images/icon/minus.png");
}
.accordion.accordion_home .accordion-item .accordion-body {
  padding-top: 0;
}
@media (min-width: 576px) {
  .accordion .accordion-button {
    padding: 12px 18px;
  }
}

.card {
  background-color: #FFFFFF;
  border: none;
  padding: 14px 14px 30px;
  height: 100%;
  transition: 0.3s;
  border-radius: 8px;
}
.card__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #018B40;
  padding: 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin: 0 auto;
}
.card__icon i {
  color: #018B40;
  font-size: 28px;
}
.card__icon img {
  min-width: 30px;
}
.card__icon img:last-child {
  display: none;
}
.card__img {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #018B40;
}
.card__img img {
  border-radius: 4px;
  width: 100%;
}
.card__journal img {
  border-radius: 8px;
}
.card__journal_name {
  background-color: #132833;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  transition: 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.card__journal_name a {
  font-size: 16px;
  color: #018B40;
}
.card__journal_name span {
  color: #FFFFFF;
  font-size: 14px;
}
.card h3 {
  margin: 16px 0;
  text-align: center;
}
.card p {
  text-align: center;
  margin-bottom: 24px;
  text-align: center;
}
.card ul {
  margin-bottom: 16px;
}
.card .btn {
  margin: 0 auto;
}
.card:hover {
  box-shadow: 0px 2px 10px 0px rgba(1, 139, 64, 0.2509803922);
}
.card:hover .card__icon {
  background-color: #018B40;
}
.card:hover .card__icon i {
  color: #FFFFFF;
}
.card:hover .card__icon img:first-child {
  display: none;
}
.card:hover .card__icon img:last-child {
  display: block;
}
.card:hover .card__journal_name {
  opacity: 1;
}
.card.card_secondary {
  background-color: #F7F7F7;
  padding: 16px;
  position: relative;
}

.profile {
  padding: 24px 14px;
}
.profile__img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background-color: #F2F2F2;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 32px;
}
.profile__name {
  color: #132833;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}
.profile span,
.profile h4 {
  text-align: center;
}
.profile span {
  font-size: 14px;
}
.profile h4 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
}
.profile .social {
  margin: 0 auto;
}
.profile .social__link {
  border-color: #018B40;
}
.profile .social__link i {
  color: #018B40;
}
.profile .social__link:hover {
  background-color: #018B40;
}
.profile .social__link:hover i {
  color: #FFFFFF;
}
.profile:hover .profile__img {
  border-color: #018B40;
}
.profile:hover .profile__name {
  color: #018B40;
}

.journal {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 0.3s;
  padding: 14px;
  border-radius: 4px;
}
.journal h2 {
  font-weight: 700 !important;
  font-size: 16px;
  line-height: 24px;
}
.journal p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.journal h2,
.journal p {
  text-align: start;
}
.journal__img {
  margin-bottom: 16px;
  text-align: center;
}
.journal__img img {
  box-shadow: 0px 0px 6px 0px #018B40;
  border-radius: 4px;
  width: 260px;
  max-width: unset;
}
.journal__description {
  margin-bottom: 24px;
}
.journal__description p {
  margin-bottom: 0 !important;
}
.journal__links a {
  text-decoration: underline;
  font-size: 14px;
}
.journal__links a:hover {
  color: #018B40;
}
.journal__links .btn {
  text-decoration: none;
  padding: 6px 12px;
  justify-content: center;
}
.journal:hover {
  background-color: #F9F9F9;
}
@media (min-width: 576px) {
  .journal__links {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .journal__links .btn {
    padding: 12px 24px;
  }
}
@media (min-width: 768px) {
  .journal {
    padding: 24px 14px;
    gap: 16px;
  }
  .journal__img {
    margin-bottom: 0;
  }
  .journal h3 {
    margin-top: 0;
    font-weight: 700 !important;
  }
}
@media (min-width: 1200px) {
  .journal {
    flex-direction: row;
    gap: 24px;
    padding: 24px;
  }
  .journal__img img {
    width: 275px;
  }
}
@media (min-width: 1400px) {
  .journal__img img {
    width: 234px;
  }
  .journal .w_journal img {
    width: 300px;
  }
  .journal h2 {
    line-height: 30px;
  }
}

.card-office {
  padding: 16px 14px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  height: 100%;
  font-size: 14px;
}
.card-office h2 {
  margin: 16px 0 20px;
  font-size: 20px !important;
  font-weight: 600 !important;
}
.card-office h2 em {
  font-weight: 400;
}
.card-office address {
  margin-top: 16px;
  color: #2D3E50;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .card-office {
    padding: 20px;
    display: flex;
    align-items: start;
    gap: 12px;
  }
  .card-office h3 {
    margin: 0 0 20px;
  }
}

.card-issue {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 4px;
}
.card-issue__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #F2F2F2;
}
.card-issue__label {
  display: flex;
  gap: 10px;
}
.card-issue__label span {
  border-radius: 4px;
  padding: 8px;
  font-size: 10px;
  font-weight: 600;
  line-height: 6px;
  border: 1px solid #666666;
  background-color: #666666;
  color: #FFFFFF;
}
.card-issue__label span:last-of-type {
  background-color: transparent;
  color: #666666;
}
.card-issue__statistics {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.card-issue__statistics .view {
  margin-left: 8px;
  padding-left: 10px;
  border-left: 2px solid #132833;
}
.card-issue__content {
  padding: 16px;
  font-size: 14px;
}
.card-issue__title {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
}
.card-issue__img {
  margin-bottom: 16px;
}
.card-issue__description {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #F2F2F2;
}
.card-issue__description h2 {
  font-weight: 700 !important;
}
.card-issue__description p {
  margin-bottom: 0 !important;
  text-align: justify;
}
.card-issue__description .text {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-issue__book_button {
  background-color: #F9F9F9;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}
@media (min-width: 576px) {
  .card-issue__statistics {
    font-size: 14px;
  }
  .card-issue__content, .card-issue__data {
    display: flex;
    align-items: start;
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .card-issue__header {
    padding: 12px 24px;
  }
  .card-issue__content {
    padding: 24px;
  }
  .card-issue__content img {
    min-width: 76px;
  }
  .card-issue__img {
    margin-bottom: 24px;
  }
  .card-issue__img img {
    width: auto;
  }
  .card-issue__description {
    margin-top: 24px;
    padding-top: 24px;
  }
  .card-issue__book_button {
    padding: 12px 24px;
  }
}

.card_feature {
  padding: 16px;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 8px;
  text-align: center;
  height: 100%;
}
.card_feature__icon {
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 24px;
  transition: 0.3s;
}
.card_feature__icon img {
  width: 36px;
}
.card_feature h3 a {
  font-weight: 700;
}
.card_feature p {
  margin-bottom: 0 !important;
}
.card_feature:hover .card_feature__icon {
  box-shadow: 0px 0px 6px 0px #018B40;
}
.card_feature:hover a {
  color: #018B40 !important;
}
@media (min-width: 768px) {
  .card_feature {
    padding: 24px;
    text-align: start;
  }
}

.card_more {
  min-height: 364px;
  justify-content: center;
}
.card_more h4 {
  font-size: 20px !important;
  font-weight: 700 !important;
}
@media (min-width: 1400px) {
  .card_more {
    min-height: 208px;
  }
}

.bg-white .card {
  background-color: #F9F9F9;
}
.bg-white .card:hover {
  background-color: #F2F2F2;
}

.swiper {
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  cursor: move;
}
.swiper .swiper-slide-prev .card, .swiper .swiper-slide-next .card {
  position: relative;
}
.swiper .swiper-slide-prev .card::after, .swiper .swiper-slide-next .card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #132833;
  opacity: 0.4;
  border-radius: 8px;
}
.swiper .swiper-pagination {
  bottom: 0;
}
.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #018B40;
}
@media (min-width: 576px) {
  .swiper {
    padding-bottom: 60px;
  }
  .swiper .swiper-slide-prev .card, .swiper .swiper-slide-next .card {
    position: unset;
  }
  .swiper .swiper-slide-prev .card::after, .swiper .swiper-slide-next .card::after {
    z-index: -1;
  }
}
@media (min-width: 992px) {
  .swiper {
    padding-bottom: 5px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f8f4;
  transition: 0.3s;
  filter: drop-shadow(0px 0px 6px rgba(45, 62, 80, 0.2));
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  color: #2D3E50;
  font-weight: 700;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #D6ECE0;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #018B40;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next {
  right: 4px;
}

.swiper-button-prev {
  left: 4px;
}

.nav_tabs .nav-tabs {
  border: none;
}
.nav_tabs .nav-tabs .nav-item {
  width: 90px;
  margin: 0 6px 6px 0;
  padding-left: 0;
}
.nav_tabs .nav-tabs .nav-link {
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #132833;
  padding: 10px;
}
.nav_tabs .nav-tabs .nav-link:hover {
  background-color: #018B40;
  color: #FFFFFF;
}
.nav_tabs .nav-tabs .active {
  background-color: #018B40;
  color: #FFFFFF;
}
.nav_tabs .nav-tabs ul {
  list-style: none;
}
.nav_tabs .tab_select .btn {
  border-radius: 0;
  width: 100%;
  background-color: #018B40;
  color: #FFFFFF;
  border-color: #018B40;
}
.nav_tabs .tab_select .btn::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 20px;
}
.nav_tabs .tab_select .btn:focus::after {
  transform: rotate(180deg);
}
.nav_tabs .tab_select .dropdown-menu {
  width: 172px;
  display: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0;
  padding: 0;
}
.nav_tabs .tab_select .dropdown-menu.show {
  display: block;
}
.nav_tabs .tab_select .dropdown-menu .nav-item {
  width: 100%;
  border-top: 1px solid #F2F2F2;
}
.nav_tabs .tab_select .dropdown-menu .nav-item .nav-link {
  width: 100%;
  border-radius: 0;
  padding: 4px 24px 0;
  text-align: start;
}
.nav_tabs .tab_select .dropdown-menu .nav-item .nav-link.active {
  background-color: transparent;
  color: #018B40;
}
@media (min-width: 768px) {
  .nav_tabs.page_content__archives {
    flex-direction: column;
  }
  .nav_tabs.page_content__archives .nav-tabs .nav-item {
    width: auto;
    margin: 0 0 12px 0;
  }
  .nav_tabs.page_content__archives .nav-tabs .nav-link {
    padding: 20px;
    background-color: #F2F2F2;
    color: #2D3E50;
    position: relative;
  }
  .nav_tabs.page_content__archives .nav-tabs .nav-link::before {
    content: "›";
    height: 100%;
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    right: 16px;
    top: 40%;
  }
  .nav_tabs.page_content__archives .nav-tabs .nav-link.active, .nav_tabs.page_content__archives .nav-tabs .nav-link:hover {
    background-color: #DBDBDB;
  }
  .nav_tabs.page_content__archives .main_archive_tabs {
    max-height: 792px;
  }
}
@media (min-width: 1400px) {
  .nav_tabs.page_content__archives .main_archive_tabs {
    max-height: 1050px;
  }
}

.card_paper {
  padding: 20px 16px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.card_paper:not(:last-of-type) {
  margin-bottom: 16px;
}
.card_paper__img {
  display: none;
}
.card_paper h3 {
  margin-bottom: 14px;
  line-height: 26px;
}
.card_paper h3 a {
  color: #132833;
  font-weight: 600;
  font-size: 16px;
}
.card_paper__tags {
  margin-top: 14px;
}
.card_paper__tags a {
  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: none;
  transition: 0.3s;
}
.card_paper__tags a:not(:last-child)::after {
  content: ", ";
}
.card_paper__tags a:hover {
  text-decoration: underline;
}
.card_paper:hover h3 a {
  color: #018B40;
}
@media (min-width: 768px) {
  .card_paper {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
  }
  .card_paper:not(:last-of-type) {
    margin-bottom: 12px;
  }
  .card_paper__img {
    display: block;
    padding: 20px 16px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
  }
  .card_paper__img img {
    min-width: 60px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    width: 338px;
  }
  .sidebar .accordion .accordion-item {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 1px;
  }
  .sidebar .accordion .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 4px 4px 0 0;
  }
  .sidebar .accordion .accordion-button {
    background-color: #132833;
    color: #FFFFFF;
    border-radius: 4px 4px 0 0;
  }
  .sidebar .accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
  .sidebar .accordion .accordion-button:not(.collapsed) {
    background-color: #132833;
    color: #FFFFFF;
  }
  .sidebar .accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
  .sidebar .accordion .accordion-body {
    background-color: #F7F7F7;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .sidebar .accordion .indexed_in .accordion-header {
    position: relative;
  }
  .sidebar .accordion .indexed_in .accordion-header .btn_more {
    font-size: 14px;
    min-width: 66px;
    border-radius: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    top: 8px;
    padding: 6px 0;
    z-index: 10;
  }
  .sidebar .accordion .indexed_in .accordion-header .collapsed + .btn_more {
    display: none;
  }
  .sidebar .accordion .indexed_in .accordion-header :not(.collapsed) + .btn_more {
    display: block;
  }
  .sidebar .accordion .indexed_in .accordion-header.active .accordion-button {
    background-color: #018B40;
  }
  .sidebar .accordion .indexed_in .accordion-header.active .btn_primary {
    background-color: #132833;
  }
  .sidebar .accordion .indexed_in .accordion-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 4px;
  }
  .sidebar .accordion .menu ul {
    list-style: none;
    background-color: #FFFFFF;
    padding-left: 0;
  }
  .sidebar .accordion .menu ul li {
    margin-bottom: 0;
    padding-left: 0;
  }
  .sidebar .accordion .menu ul a {
    color: #132833;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 12px 18px;
    box-shadow: 0px 0px 2px 0px rgba(1, 139, 64, 0.5019607843);
  }
  .sidebar .accordion .menu ul a::after {
    content: "›";
    height: 100%;
    font-size: 32px;
    font-weight: 300;
    position: relative;
    top: -4px;
  }
  .sidebar .accordion .menu ul a.active, .sidebar .accordion .menu ul a:hover {
    background-color: #018B40;
    color: #FFFFFF;
    padding-left: 26px;
  }
  .sidebar .accordion .links {
    margin: 8px 0;
  }
  .sidebar .accordion .links ul li {
    margin-bottom: 1px;
  }
  .sidebar .accordion .links ul li a {
    background-color: #2D3E50;
    color: #FFFFFF;
    padding: 6px 18px;
    box-shadow: none;
  }
  .sidebar .accordion .links ul li:first-of-type a {
    border-radius: 4px 4px 0 0;
  }
  .sidebar .accordion .links ul li:last-of-type a {
    border-radius: 0 0 4px 4px;
  }
}

@media (min-width: 992px) {
  .card_sidebar {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(1, 139, 64, 0.5019607843);
    padding: 12px 16px;
  }
  .card_sidebar h4 {
    font-size: 14px;
    font-weight: 500;
  }
  .card_sidebar h4 a {
    color: #132833 !important;
    line-height: 1.5;
  }
  .card_sidebar h4 a:hover {
    color: #018B40 !important;
  }
  .card_sidebar__label {
    padding: 4px 8px;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 500;
    background-color: #018B40;
    color: #FFFFFF;
    border-radius: 2px;
  }
  .card_sidebar__date {
    font-size: 12px;
    font-weight: 400;
  }
}
.card_sidebar:last-of-type {
  margin-bottom: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card_logo {
  height: 38px;
  background-color: #FFFFFF;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
}
.card_logo img {
  width: 50px;
}
.card_logo:hover {
  box-shadow: 0px 2px 10px 0px rgba(1, 139, 64, 0.2509803922);
}
@media (min-width: 576px) {
  .card_logo {
    height: 60px;
  }
  .card_logo img {
    width: 80px;
  }
}
@media (min-width: 992px) {
  .card_logo {
    height: 70px;
    border-radius: 6px;
  }
  .card_logo img {
    width: 95px;
  }
}

.page_content p {
  margin-bottom: 20px;
  font-size: 14px;
}
.page_content h2,
.page_content h3,
.page_content h4,
.page_content h5,
.page_content h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 26px;
}
.page_content ul {
  margin-bottom: 20px;
  list-style-image: url(../images/shape/ul_list_start2.webp);
  list-style-position: inside;
  padding-left: 0;
  font-size: 14px;
  line-height: 24px;
}
.page_content ul li {
  padding-left: 0;
}
.page_content__title {
  min-height: 52px;
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #018B40;
  border-radius: 4px 4px 0 0;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.page_content__title h1,
.page_content__title h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  color: #FFFFFF;
}
.page_content__data {
  padding: 20px 14px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;
}
.page_content__data p:last-child,
.page_content__data ul:last-child,
.page_content__data li:last-child {
  margin-bottom: 0;
}
.page_content__data ul li a {
  color: #00A6EE;
}
.page_content__data ul li a:hover {
  color: #132833;
}
.page_content__bg {
  position: absolute;
  right: 0;
  bottom: 190px;
  text-align: end;
}
.page_content__bg img {
  opacity: 0.1;
  width: 60%;
}
.page_content__contact_type {
  background-color: #F9F9F9;
  color: #2D3E50;
  margin: 40px 0;
  border-radius: 4px;
  padding: 30px 14px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 14px;
  border: 1px solid #018B40;
  font-size: 14px;
}
.page_content__contact_type h2 {
  font-size: 20px;
  font-weight: 600;
  color: #018B40;
  margin-bottom: 20px;
}
.page_content__contact_type p {
  margin-bottom: 20px;
}
.page_content__contact_type a {
  color: #018B40;
  text-decoration: underline;
}
.page_content__corporate_office {
  background-color: #F9F9F9;
  padding: 16px 14px;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #018B40;
  font-size: 14px;
}
.page_content__corporate_office img {
  margin-bottom: 12px;
}
.page_content__corporate_office h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.page_content__corporate_office a {
  display: block;
  text-decoration: underline;
  font-weight: 600;
  margin-top: 12px;
  color: #018B40;
}
.page_content__img {
  margin-bottom: 24px;
}
.page_content__img img {
  max-height: 75px;
  width: 100%;
  object-fit: cover;
}
.page_content__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_content__nav a {
  color: #132833;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  display: flex;
  align-items: center;
}
.page_content__nav a:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #018B40;
  margin: 0 8px;
}
.page_content__nav a.active, .page_content__nav a:hover {
  color: #018B40;
  text-decoration: underline;
}
.page_content__indexed_in {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.page_content__archives ul {
  list-style: none;
}
.page_content .profile_cheif {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.page_content .profile_cheif__img_wrap {
  position: relative;
  display: inline-grid;
  align-content: flex-start;
  justify-content: center;
  height: fit-content;
  margin-bottom: 32px;
}
.page_content .profile_cheif__img-cheif {
  position: relative;
  border: 3px solid #2D3E50;
  border-radius: 4px;
  width: 260px;
}
.page_content .profile_cheif__img-cheif img {
  position: relative;
  width: 100%;
  z-index: 10;
}
.page_content .profile_cheif__img-shap {
  background-color: #F9F9F9;
  width: 150%;
  height: 65px;
  transform: rotate(20deg);
  position: absolute;
  top: 30%;
  right: -14%;
}
.page_content .profile_cheif__label {
  font-size: 20px;
  margin-top: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
.page_content .profile_cheif__name,
.page_content .profile_cheif span,
.page_content .profile_cheif h4,
.page_content .profile_cheif p {
  text-align: start;
}
.page_content .profile_cheif__info {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(45, 62, 80, 0.2);
}
.page_content .profile_cheif__info p {
  margin-bottom: 0;
}
.page_content .profile_cheif__info h3 {
  text-align: start;
}
.page_content .profile_cheif__contact {
  font-size: 16px;
}
.page_content .profile_cheif__contact h3 {
  text-align: start;
}
.page_content .profile_cheif__contact .item {
  display: flex;
}
.page_content .profile_cheif__contact .item_title {
  width: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page_content .profile_cheif__contact a {
  margin-left: 12px;
  white-space: nowrap;
  color: #00A6EE;
}
.page_content .profile_cheif__contact a:hover {
  color: #018B40;
}
.page_content .profile_cheif__contact .social {
  margin-top: 24px;
}
.page_content .profile_cheif__contact .social__link {
  margin-left: 0;
}
.page_content .profile_cheif:hover {
  background-color: #F9F9F9;
}
.page_content .profile_cheif:hover .profile_cheif__img-cheif {
  border-color: #018B40;
}
.page_content .profile_cheif:hover .profile_cheif__img-shap {
  background-color: #F9F9F9;
}
.page_content .profile {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.page_content .profile:hover {
  background-color: #F9F9F9;
}
.page_content__editor {
  margin-top: 60px;
}
.page_content__editor .title {
  background-color: #F2F2F2;
  padding: 16px;
  margin-bottom: 20px;
}
.page_content__editor .title h2 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}
.page_content .swiper-slide .profile {
  background-color: #F9F9F9;
}
.page_content .swiper-slide .profile__img {
  border-color: #F9F9F9;
}
.page_content .swiper-slide .profile:hover {
  box-shadow: 0px 2px 10px 0px rgba(1, 139, 64, 0.2509803922);
}
.page_content .accordion {
  margin-top: 20px;
}
.page_content .reference_item {
  padding: 16px 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}
.page_content .reference_item__title {
  font-weight: 600;
  margin-right: 6px;
}
.page_content .publication_list > p {
  padding: 16px 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}
.page_content .publication_list table tr {
  display: block;
  padding: 16px 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}
@media (min-width: 576px) {
  .page_content .profile_cheif {
    flex-direction: column;
    gap: 28px;
  }
  .page_content .profile_cheif__img_wrap {
    margin-bottom: 0;
  }
  .page_content .profile_cheif__label {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .page_content__archives .tab-content > .tab-pane {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .page_content__nav {
    justify-content: end;
  }
  .page_content__nav a {
    font-size: 16px;
  }
  .page_content__indexed_in {
    grid-template-columns: repeat(4, 1fr);
  }
  .page_content__archives {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .page_content__contact_type {
    flex-direction: row;
    padding: 38px 20px;
  }
  .page_content__corporate_office {
    padding: 28px 20px;
    margin-bottom: 24px;
  }
  .page_content .profile_cheif {
    padding: 24px;
  }
}
@media (min-width: 992px) {
  .page_content__title {
    min-height: 66px;
    padding: 24px;
  }
  .page_content__title h1,
  .page_content__title h2 {
    font-size: 20px;
  }
  .page_content__data {
    padding: 24px;
  }
  .page_content__img img {
    max-height: 180px;
  }
  .page_content__editor .title {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .page_content__indexed_in {
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
  }
  .page_content__contact_type {
    margin: 60px 0;
  }
  .page_content .profile_cheif {
    flex-direction: row;
  }
  .page_content .profile_cheif__img-cheif {
    width: 195px;
  }
  .page_content .profile_cheif__img-cheif img {
    max-width: unset;
  }
  .page_content .profile_cheif__info {
    border-bottom: 0;
    border-right: 1px solid rgba(45, 62, 80, 0.2);
    padding-bottom: 0;
    padding-right: 24px;
  }
}

.current-issue {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.current-issue .section_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.current-issue .show_article_post {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .current-issue {
    gap: 20px;
  }
  .current-issue .section_title {
    font-size: 24px;
  }
  .current-issue .show_article_post {
    gap: 20px;
  }
}

.breadcrumb_section {
  position: relative;
}
.breadcrumb_section__bg img {
  width: 100%;
  height: 88px;
  object-fit: cover;
}
.breadcrumb_section nav {
  position: absolute;
  top: 36%;
  z-index: 10;
}
.breadcrumb_section nav .breadcrumb {
  margin-bottom: 0;
}
.breadcrumb_section nav .breadcrumb-item a {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
}
.breadcrumb_section nav .breadcrumb-item a:hover {
  color: #018B40;
}
.breadcrumb_section nav .breadcrumb-item .dropdown-menu {
  padding: 4px;
}
.breadcrumb_section nav .breadcrumb-item .dropdown-menu li {
  margin-bottom: 8px;
}
.breadcrumb_section nav .breadcrumb-item .dropdown-menu a {
  color: #132833;
  border-radius: 2px;
}
.breadcrumb_section nav .breadcrumb-item .dropdown-menu a.active, .breadcrumb_section nav .breadcrumb-item .dropdown-menu a:hover {
  background-color: rgba(45, 62, 80, 0.2);
  opacity: 1;
}
.breadcrumb_section nav .breadcrumb-item .dropdown-menu.show {
  transform: translate(-26%, 40px) !important;
}
.breadcrumb_section nav .breadcrumb-item .dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 50%;
  top: 5px;
  border: 15px solid transparent;
  border-top: 0;
  border-bottom: 15px solid #FFFFFF;
  transform: translate(-75%, calc(-100% - 5px));
}
.breadcrumb_section nav .breadcrumb-item.active {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumb_section nav .breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  height: 100%;
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  top: -2px;
}
@media (min-width: 768px) {
  .breadcrumb_section__bg img {
    height: 200px;
  }
  .breadcrumb_section nav {
    top: 42%;
  }
  .breadcrumb_section nav .breadcrumb-item a {
    font-size: 20px;
  }
  .breadcrumb_section nav .breadcrumb-item.active {
    font-size: 20px;
  }
  .breadcrumb_section nav .breadcrumb-item + .breadcrumb-item::before {
    color: #018B40;
    font-weight: 500;
  }
}

.nav-link.btn_img,
.accordion-button.btn_img {
  background-color: #F2F2F2;
  padding: 16px;
  color: #2D3E50;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
}
.nav-link.btn_img img,
.accordion-button.btn_img img {
  width: 80px;
  border-radius: 4px;
  margin-right: 16px;
  box-shadow: 0px 0px 6px 0px #018B40;
}
.nav-link.btn_img span,
.accordion-button.btn_img span {
  font-size: 14px;
  margin-right: 8px;
  font-weight: 700;
  text-align: start;
}
.nav-link.btn_img:not(.collapsed),
.accordion-button.btn_img:not(.collapsed) {
  background-color: #DBDBDB;
  color: #2D3E50;
}
.nav-link.btn_img:not(.collapsed)::after,
.accordion-button.btn_img:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232D3E50'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.nav-link.btn_img::after,
.accordion-button.btn_img::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232D3E50'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
@media (min-width: 768px) {
  .nav-link.btn_img,
  .accordion-button.btn_img {
    background-color: #DBDBDB;
  }
}
@media (min-width: 1400px) {
  .nav-link.btn_img,
  .accordion-button.btn_img {
    padding: 20px;
  }
  .nav-link.btn_img img,
  .accordion-button.btn_img img {
    width: 120px;
  }
  .nav-link.btn_img span,
  .accordion-button.btn_img span {
    font-size: 18px;
  }
}

.data_col {
  display: flex;
  gap: 12px;
  font-size: 14px;
}
.data_col__title {
  width: 104px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .data_col__title {
    width: 150px;
  }
}

ul.pagination {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  gap: 4px;
}
ul.pagination .page-item {
  margin-bottom: 0;
}
ul.pagination .page-item:first-child .page-link {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
ul.pagination .page-item:last-child .page-link {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
ul.pagination .page-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #2D3E50;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
}
ul.pagination .page-link:hover, ul.pagination .page-link:focus, ul.pagination .page-link.active {
  background-color: #018B40;
  color: #FFFFFF;
  box-shadow: none;
  border-color: #018B40;
}

.social_share {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 12px;
  border-radius: 4px;
}
.social_share a {
  padding: 8px 20px;
  background-color: #FFFFFF;
  border: 1px solid rgba(45, 62, 80, 0.2);
  border-radius: 100px;
  height: 30px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.social_share a svg {
  transition: 0.3s;
}
.social_share a:hover {
  border-color: #018B40;
  color: #018B40;
}
.social_share a:hover svg {
  fill: #018B40;
}

.filter .form-select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/icon/filter_icon.webp);
  background-position: center;
  width: 36px;
  height: 36px;
  padding: 16px;
}
.filter .form-select:focus {
  box-shadow: none;
  border-color: #FFFFFF;
}
@media (min-width: 768px) {
  .filter .form-select {
    width: auto;
    background-position: right 0.75rem center;
    padding: 6px 36px 6px 12px;
  }
}

.modal .modal-content {
  padding: 16px;
}
.modal .modal-header {
  border-bottom: 0;
  padding: 0;
  margin-bottom: 24px;
}
.modal .modal-title {
  margin: 0;
}
.modal .modal-body {
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
}
.modal .modal-footer {
  border-top: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.modal .modal-footer .btn {
  margin: 0 0 auto;
}
@media (min-width: 768px) {
  .modal .modal-dialog {
    max-width: 600px;
  }
  .modal .modal-content {
    padding: 28px;
  }
}

/*----------------------------------
	~~~ Layout ~~~
-----------------------------------*/
.footer {
  background-color: #132833;
  padding: 16px;
}
.footer .social__link:hover {
  background-color: #018B40;
}
.footer .social__link:hover i {
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/*----------------------------------
	~~~ Sections ~~~
-----------------------------------*/
.banner {
  background-image: url(../images/banner/banner_bg_mobile.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
}
.banner__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}
.banner__content .issue {
  border-radius: 16px 0 10px 0;
}
.banner__content .involve {
  border-radius: 0 16px 0 10px;
}
.banner__content .global {
  border-radius: 0 10px 0 16px;
}
.banner__content .happy {
  border-radius: 10px 0 16px 0;
}
.banner__content_item {
  background-color: #FFFFFF;
  opacity: 80%;
  text-align: center;
  max-width: 130px;
  padding: 20px;
}
.banner__content_amount {
  color: #018B40;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.banner__content_title {
  color: #132833;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .banner {
    background-image: url(../images/banner/banner_bg.webp);
  }
}
@media (min-width: 1400px) {
  .banner {
    min-height: 720px;
  }
  .banner__content {
    gap: 24px;
  }
  .banner__content .issue {
    border-radius: 39px 0 18px 0;
  }
  .banner__content .involve {
    border-radius: 0 39px 0 18px;
  }
  .banner__content .global {
    border-radius: 0 18px 0 39px;
  }
  .banner__content .happy {
    border-radius: 18px 0 39px 0;
  }
  .banner__content_item {
    max-width: 268px;
    padding: 46px 60px;
  }
  .banner__content_amount {
    font-size: 48px;
    line-height: 40px;
  }
  .banner__content_title {
    font-size: 20px;
    line-height: 24px;
  }
}

.about {
  background-color: #FFFFFF;
}
.about__content {
  margin-bottom: 40px;
}
.about__content p {
  line-height: 28px;
  text-align: justify;
}
.about__content ul {
  list-style-type: "➤";
  padding-left: 14px;
}
.about__bg_shap {
  display: none;
}
@media (min-width: 1200px) {
  .about__bg_shap {
    display: block;
    position: absolute;
    right: -60px;
    bottom: 0;
    max-width: 300px;
  }
}

.feature {
  margin-bottom: 40px;
}
.feature h2 {
  margin-bottom: 24px;
}
.feature .card p {
  display: -webkit-box;
  max-width: 1005;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.why_choose {
  background-image: url(../images/why_choose/why_choose_bg_image.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 40px 16px;
}
.why_choose::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #132833;
  opacity: 0.8;
  z-index: -1;
}
.why_choose__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}
.why_choose__card {
  background-color: #FFFFFF;
  display: flex;
  width: 136px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.why_choose__icon {
  color: #018B40;
}
.why_choose__icon i {
  font-size: 38px;
}
.why_choose__text {
  text-align: center;
}
.why_choose__text h3 {
  font-weight: 600;
  color: #2D3E50;
  font-size: 16px;
  margin-bottom: 4px;
}
.why_choose__text span {
  font-size: 24px;
  font-weight: 700;
  color: #132833;
}
.why_choose h2 {
  text-transform: uppercase;
}
.why_choose h2,
.why_choose ul {
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .why_choose {
    padding: 58px 16px;
  }
  .why_choose__cards {
    gap: 24px;
  }
  .why_choose__card {
    width: auto;
    padding: 24px;
    flex-direction: row;
    gap: 16px;
  }
}

.we_have {
  background-color: #2D3E50;
}
.we_have h2,
.we_have h3,
.we_have p,
.we_have span {
  color: #FFFFFF;
}
.we_have h2 {
  text-transform: uppercase;
  margin-bottom: 12px;
  line-height: 40px;
}
.we_have h2,
.we_have p {
  text-align: center;
}
.we_have img {
  border-radius: 8px;
}
.we_have__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.we_have__card {
  text-align: center;
}
.we_have__card span {
  font-size: 32px;
  color: #018B40;
  font-weight: 700;
}
.we_have__card h3 {
  margin-top: 16px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .we_have h2,
  .we_have p {
    text-align: start;
  }
  .we_have img {
    height: 100%;
  }
}

.footer_before {
  background-color: #2D3E50;
  box-shadow: 0px -1px 0px 0px #018B40 inset;
  padding: 28px 16px;
}
.footer_before .btn_primary {
  min-width: 220px;
  height: 48px;
}
.footer_before .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer_before {
    padding: 38px;
  }
  .footer_before .btn_primary {
    min-width: 232px;
    height: 60px;
  }
}

/*----------------------------------
	~~~ Pages ~~~
----------------------------------- *//*# sourceMappingURL=style.css.map */