/*================================================================

	STYLESHEET INDEXING
	|
	|___helper
	|	|___fonts
	|	|___variables
	|	|___global
	|	|___animation
	|
	|___components
	|	|___nav-top
	|	|___input
	|	|___navbar
	|	|___social
	|	|___search-form
	|	|___offcanvas
	|	|___footer-item
	|
	|___layout
	|	|___header
	|	|___footer
	|
	|___ sections
	|	|___
	|
	|___ END STYLESHEET INDEXING

===================================================================*/
/*----------------------------------
  ~~~ Helper ~~~
-----------------------------------*/
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap");
/* Variables */
/* Global */
body {
  background-color: #D9D9D9;
  color: #2D3E50;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #018B40;
}

.container {
  padding: 0;
}

hr {
  margin: 20px 0;
  border-top: 1px solid #2D3E50;
}

/* Animation */
@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.slide-top {
  -webkit-animation: slide-top 1.5s linear 0.5s infinite alternate both;
  animation: slide-top 1.5s linear 0.5s infinite alternate both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 1.5s linear 0.5s infinite alternate both;
  animation: scale-up-center 1.5s linear 0.5s infinite alternate both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*----------------------------------
  ~~~ Components ~~~
-----------------------------------*/
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-top__left {
  padding: 8px 0 8px 16px;
  background-color: #132833;
  width: 50%;
}
.nav-top__left-link a {
  display: inline-block;
  color: #FFFFFF;
}
.nav-top__left-link a i {
  font-size: 12px;
}
.nav-top__left-link a:first-child {
  padding-right: 8px;
  border-right: 1px solid #FFFFFF;
  margin-right: 6px;
}
.nav-top__left-link a:hover {
  color: #018B40;
}
.nav-top__right {
  padding: 6px 16px 6px 0;
  background-color: #018B40;
  width: 50%;
  font-size: 12px;
}
.nav-top__right::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 20px 10px;
  content: "";
  height: 40px;
  position: absolute;
  right: 50%;
  top: 0;
  width: 0;
  border-color: rgba(0, 0, 0, 0) #018B40 #018B40 rgba(0, 0, 0, 0);
  display: block;
}
.nav-top__right-button {
  text-align: end;
}
.nav-top__right-button a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #8B014C;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}
.nav-top__right-button a:hover {
  background-color: #FFFFFF;
  color: #132833;
}
@media (min-width: 576px) {
  .nav-top__left {
    padding-left: 8%;
  }
  .nav-top__right {
    padding-right: 8%;
  }
}
@media (min-width: 1200px) {
  .nav-top__left {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-top__welcome-title {
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  .nav-top__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nav-top__right::after {
    height: 46px;
    border-width: 24px 12px;
  }
  .nav-top__right a {
    color: #FFFFFF;
  }
  .nav-top__right-link a i {
    margin-right: 2px;
  }
  .nav-top__right-link a:first-child {
    padding-right: 8px;
    border-right: 1px solid #FFFFFF;
    margin-right: 6px;
  }
  .nav-top__right-link a:hover {
    color: #132833;
  }
  .nav-top__right-button a {
    background-color: #FFFFFF;
    color: #132833;
    font-weight: 600;
    padding: 6px 12px;
  }
  .nav-top__right-button a:hover {
    background-color: #8B014C;
    color: #FFFFFF;
  }
}

.form-control {
  background-color: #F2F2F2;
  border-color: transparent;
  padding: 8px 16px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #018B40;
  border-color: #018B40;
}

.btn-close {
  color: #8B014C;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 1;
}
.btn-close:focus {
  box-shadow: none;
}

.navbar {
  padding: 14px 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar.sticky {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  animation: sticky 0.3s;
}
.navbar__brand img {
  width: 100px;
}
.navbar__toggler {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__toggler:focus {
  box-shadow: none;
}
.navbar__toggler i {
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #132833;
  color: #132833;
  font-size: 15px;
}
.navbar__toggler:hover i {
  border-color: #018B40;
  background-color: #018B40;
  color: #FFFFFF;
}
.navbar .navbar-nav .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-nav .dropdown-toggle::after {
  margin-left: 6px;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
  font-weight: 500;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
  color: #018B40;
  border-color: #018B40;
}
.navbar .navbar-nav .nav-link.active::after, .navbar .navbar-nav .nav-link.show::after {
  transform: rotate(180deg);
}
.navbar .dropdown-menu {
  border: none;
  animation: 0.3s slide-top;
}
.navbar .dropdown-item {
  font-weight: 400;
  padding: 8px 16px;
  border-bottom: 1px solid #F2F2F2;
}
.navbar .dropdown-item:hover, .navbar .dropdown-item:active {
  background-color: #018B40;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .navbar {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (min-width: 768px) {
  .navbar__brand img {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .navbar__toggler {
    display: none;
  }
  .navbar .navbar-nav {
    flex-direction: row;
  }
  .navbar .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .dropdown-menu {
    position: absolute;
    top: 55px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    margin-top: 0;
    border-top: 1px solid #F2F2F2;
  }
}

.social {
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.social__link {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link i, .social__link svg {
  font-size: 12px;
  color: #FFFFFF;
}
.social__link:hover {
  background-color: #FFFFFF;
  color: #132833;
}
.social__link:hover svg path {
  fill: #132833;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.search-form__input {
  border-radius: 100px;
}
.search-form__button {
  position: absolute;
  right: 0;
  border: none;
}
.search-form__button i {
  color: #2D3E50;
  opacity: 50%;
}
@media (min-width: 576px) {
  .search-form {
    margin-bottom: 0;
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .search-form {
    width: 170px;
  }
}
@media (min-width: 1400px) {
  .search-form {
    width: 190px;
  }
}

.offcanvas {
  padding: 16px;
}
.offcanvas.offcanvas-start {
  width: 260px;
}
@media (min-width: 576px) {
  .offcanvas.offcanvas-start {
    width: 300px;
  }
}

.footer-item {
  color: #FFFFFF;
}
.footer-item__logo {
  width: 120px;
  margin-bottom: 12px;
}
.footer-item__description {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 22px;
}
.footer-item .social__link:hover {
  background-color: #018B40;
  color: #FFFFFF;
  border-color: #018B40;
}
.footer-item .social__link:hover svg path {
  fill: #FFFFFF;
}
.footer-item__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 30px;
}
.footer-item__nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-item__nav-item {
  margin-bottom: 2px;
}
.footer-item__nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #FFFFFF;
}
.footer-item__nav-link:hover {
  color: #018B40;
  text-decoration: underline;
}
.footer-item__copyright_icon {
  margin-right: 12px;
}
.footer-item__payment_method {
  width: 220px;
}
.footer-item__description_copyright {
  font-size: 12px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .footer-item__logo {
    width: 140px;
  }
  .footer-item__title {
    font-size: 16px;
  }
  .footer-item__description_copyright {
    font-size: 14px;
  }
}

/*----------------------------------
	~~~ Layout ~~~
-----------------------------------*/
/* Header */
/* Footer */
.footer {
  background-color: #132833;
  padding: 16px;
}
@media (min-width: 576px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/*----------------------------------
	~~~ Sections ~~~
-----------------------------------*/
/*----------------------------------
	~~~ Pages ~~~
----------------------------------- *//*# sourceMappingURL=style.css.map */