@charset "UTF-8";
/*================================================================

	STYLESHEET INDEXING
	|
	|___helper
	|	|___fonts
	|	|___variables
	|	|___global
	|	|___animation
	|
	|___components
	|	|___nav-top
	|	|___input
	|	|___navbar
	|	|___social
	|	|___search-form
	|	|___offcanvas
	|	|___footer-item
	|	|___accordion
	|	|___card
	|	|___swiper
	|	|___nav_tabs
	|	|___card_paper
	|	|___sidebar
	|	|___card_sidebar
	|	|___card_logo
	|	|___page_content
	|
	|___layout
	|	|___header
	|	|___footer
	|
	|___ sections
	|	|___banner
	|	|___about
	|	|___feature
	|	|___why_choose
	|	|___we_have
	|	|___footer_before
	|
	|___ END STYLESHEET INDEXING

===================================================================*/
/*----------------------------------
  ~~~ Helper ~~~
-----------------------------------*/
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap");
/* Variables */
/* Global */
body {
  background-color: #F7F7F7;
  color: #2D3E50;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #018B40;
}

p {
  margin-bottom: 0;
}

.container {
  padding: 0;
}

hr {
  margin: 20px 0;
  border-top: 1px solid #2D3E50;
}

main {
  overflow-x: hidden;
}

.section_gap {
  padding: 60px 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 22px;
}

h3 {
  font-size: 16px;
}

h2,
h3 {
  color: #132833;
  font-weight: 700;
}

ul {
  list-style-image: url(../images/shape/ul_list_start.png);
  padding-left: 26px;
  margin-bottom: 0;
  line-height: 24px;
}
ul li {
  margin-bottom: 12px;
}
ul li::marker {
  margin-top: 6px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .section_gap {
    padding: 80px 16px;
  }
}
/* Animation */
@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.slide-top {
  -webkit-animation: slide-top 1.5s linear 0.5s infinite alternate both;
  animation: slide-top 1.5s linear 0.5s infinite alternate both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 1.5s linear 0.5s infinite alternate both;
  animation: scale-up-center 1.5s linear 0.5s infinite alternate both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*----------------------------------
  ~~~ Components ~~~
-----------------------------------*/
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-top__left {
  padding: 11px 0 11px 16px;
  background-color: #132833;
  width: 50%;
}
.nav-top__left-link a {
  display: inline-block;
  color: #FFFFFF;
}
.nav-top__left-link a i {
  font-size: 12px;
}
.nav-top__left-link a:first-child {
  padding-right: 8px;
  border-right: 1px solid #FFFFFF;
  margin-right: 6px;
}
.nav-top__left-link a:hover {
  color: #018B40;
}
.nav-top__right {
  padding: 6px 16px 6px 0;
  background-color: #018B40;
  width: 50%;
  font-size: 12px;
}
.nav-top__right::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 25px 15px;
  content: "";
  height: 50px;
  position: absolute;
  right: 50%;
  top: 0;
  width: 0;
  border-color: rgba(0, 0, 0, 0) #018B40 #018B40 rgba(0, 0, 0, 0);
  display: block;
}
.nav-top__right-button {
  text-align: end;
}
.nav-top__right-button a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #132833;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
}
.nav-top__right-button a:hover {
  background-color: #8B014C;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .nav-top__left {
    padding-left: 8%;
  }
  .nav-top__right {
    padding-right: 8%;
  }
}
@media (min-width: 1200px) {
  .nav-top__left {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-top__welcome-title {
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  .nav-top__right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nav-top__right::after {
    height: 56px;
    border-width: 30px 15px;
  }
  .nav-top__right a {
    color: #FFFFFF;
  }
  .nav-top__right-link a i {
    margin-right: 2px;
  }
  .nav-top__right-link a:first-child {
    padding-right: 8px;
    border-right: 1px solid #FFFFFF;
    margin-right: 6px;
  }
  .nav-top__right-link a:hover {
    color: #132833;
  }
  .nav-top__right-button a {
    background-color: #FFFFFF;
    color: #132833;
    padding: 6px 12px;
  }
  .nav-top__right-button a:hover {
    background-color: #8B014C;
    color: #FFFFFF;
  }
}

.form-control {
  background-color: #F2F2F2;
  border-color: transparent;
  padding: 8px 16px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #018B40;
  border-color: #018B40;
}

.btn-close {
  color: #8B014C;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 1;
}
.btn-close:focus {
  box-shadow: none;
}

.btn {
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 35px;
  border-radius: 100px;
  line-height: 1;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  width: fit-content;
}

.btn_primary {
  background-color: #018B40;
  color: #FFFFFF;
}
.btn_primary:hover, .btn_primary:active {
  background-color: #FFFFFF !important;
  color: #018B40 !important;
  border-color: #018B40 !important;
}

.btn_secondary {
  background-color: #FFFFFF;
  color: #018B40;
  border-color: #018B40;
}
.btn_secondary:hover, .btn_secondary:active {
  background-color: #018B40 !important;
  color: #FFFFFF !important;
  border-color: #018B40 !important;
}

@media (min-width: 768px) {
  .btn {
    height: 44px;
  }
}
.navbar {
  padding: 14px 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
}
.navbar.sticky {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  animation: sticky 0.3s;
}
.navbar__brand img {
  width: 100px;
}
.navbar__toggler {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__toggler:focus {
  box-shadow: none;
}
.navbar__toggler i {
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #132833;
  color: #132833;
  font-size: 15px;
  transition: 0.3s;
}
.navbar__toggler:hover i {
  border-color: #018B40;
  background-color: #018B40;
  color: #FFFFFF;
}
.navbar .navbar-nav .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-nav .dropdown-toggle::after {
  margin-left: 6px;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
  font-weight: 500;
  color: #2D3E50;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
  color: #018B40;
  border-color: #018B40;
}
.navbar .navbar-nav .nav-link.active::after, .navbar .navbar-nav .nav-link.show::after {
  transform: rotate(180deg);
}
.navbar .dropdown-menu {
  border: none;
  animation: 0.3s slide-top;
}
.navbar .dropdown-item {
  font-weight: 400;
  padding: 8px 16px;
  border-bottom: 1px solid #F2F2F2;
  color: #2D3E50;
}
.navbar .dropdown-item:hover, .navbar .dropdown-item:active {
  background-color: #018B40;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .navbar {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (min-width: 768px) {
  .navbar__brand img {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .navbar__toggler {
    display: none;
  }
  .navbar .navbar-nav {
    flex-direction: row;
  }
  .navbar .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .dropdown-menu {
    position: absolute;
    top: 55px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    margin-top: 0;
    border-top: 1px solid #F2F2F2;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.social__link {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link i {
  font-size: 12px;
  color: #FFFFFF;
}
.social__link:hover {
  background-color: #FFFFFF;
}
.social__link:hover i {
  color: #132833;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.search-form__input {
  border-radius: 100px;
}
.search-form__button {
  position: absolute;
  right: 0;
  border: none;
}
.search-form__button i {
  color: #2D3E50;
  opacity: 50%;
}
@media (min-width: 576px) {
  .search-form {
    margin-bottom: 0;
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .search-form {
    width: 170px;
  }
}
@media (min-width: 1400px) {
  .search-form {
    width: 190px;
  }
}

.offcanvas {
  padding: 16px;
}
.offcanvas.offcanvas-start {
  width: 260px;
}
@media (min-width: 576px) {
  .offcanvas.offcanvas-start {
    width: 300px;
  }
}

.footer-item {
  color: #FFFFFF;
}
.footer-item__logo {
  width: 120px;
  margin-bottom: 12px;
}
.footer-item__description {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 22px;
}
.footer-item .social__link:hover {
  background-color: #018B40;
  color: #FFFFFF;
  border-color: #018B40;
}
.footer-item .social__link:hover svg path {
  fill: #FFFFFF;
}
.footer-item__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 30px;
}
.footer-item__nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-item__nav-item {
  margin-bottom: 2px;
}
.footer-item__nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #FFFFFF;
}
.footer-item__nav-link:hover {
  color: #018B40;
  text-decoration: underline;
}
.footer-item__copyright_icon {
  margin-right: 12px;
}
.footer-item__payment_method {
  width: 220px;
}
.footer-item__description_copyright {
  font-size: 12px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .footer-item__logo {
    width: 140px;
  }
  .footer-item__title {
    font-size: 16px;
  }
  .footer-item__description_copyright {
    font-size: 14px;
  }
}

.accordion .accordion-item {
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
}
.accordion .accordion-button {
  padding: 12px 16px;
  gap: 2px;
  font-weight: 600;
  color: #2D3E50;
  border-bottom: 1px solid #F2F2F2;
}
.accordion .accordion-button:not(.collapsed) {
  background-color: #018B40;
  color: #FFFFFF;
}
.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion .accordion-button:focus {
  box-shadow: none;
}
.accordion .accordion-body {
  color: #2D3E50;
}
.accordion .accordion-body a {
  font-weight: 600;
}
@media (min-width: 576px) {
  .accordion .accordion-button {
    padding: 12px 18px;
  }
}

.card {
  background-color: #FFFFFF;
  border: none;
  padding: 14px 14px 30px;
  height: 100%;
  transition: 0.3s;
  border-radius: 8px;
}
.card__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #018B40;
  padding: 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin: 0 auto;
}
.card__icon i {
  color: #018B40;
  font-size: 28px;
}
.card__img {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #018B40;
}
.card__img img {
  border-radius: 4px;
  width: 100%;
}
.card__journal img {
  border-radius: 8px;
}
.card__journal_name {
  background-color: #132833;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  transition: 0.3s;
  opacity: 0;
}
.card__journal_name a {
  font-size: 16px;
}
.card__journal_name span {
  color: #FFFFFF;
  font-size: 14px;
}
.card h3 {
  margin: 16px 0;
  text-align: center;
}
.card p {
  text-align: center;
  margin-bottom: 24px;
  text-align: center;
}
.card ul {
  margin-bottom: 16px;
}
.card .btn {
  margin: 0 auto;
}
.card:hover {
  box-shadow: 0px 2px 10px 0px rgba(1, 139, 64, 0.2509803922);
}
.card:hover .card__icon {
  background-color: #018B40;
}
.card:hover .card__icon i {
  color: #FFFFFF;
}
.card:hover .card__journal_name {
  opacity: 1;
}
.card.card_secondary {
  background-color: #F7F7F7;
  padding: 16px;
  position: relative;
}

.profile {
  padding: 24px 14px;
}
.profile__img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #FFFFFF;
  background-color: #F2F2F2;
  overflow: hidden;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 32px;
}
.profile__img img {
  width: 120px;
  position: relative;
  top: 16px;
}
.profile__name {
  color: #132833;
  font-weight: 600;
  text-align: center;
}
.profile span,
.profile h4 {
  text-align: center;
}
.profile span {
  font-size: 14px;
}
.profile h4 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
}
.profile .social {
  margin: 0 auto;
}
.profile .social__link {
  border-color: #018B40;
}
.profile .social__link i {
  color: #018B40;
}
.profile .social__link:hover {
  background-color: #018B40;
}
.profile .social__link:hover i {
  color: #FFFFFF;
}
.profile:hover .profile__img {
  background-color: #2D3E50;
  border-color: #018B40;
}
.profile:hover .profile__name {
  color: #018B40;
}

.swiper {
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  cursor: move;
}
.swiper .swiper-slide-prev .card, .swiper .swiper-slide-next .card {
  position: relative;
}
.swiper .swiper-slide-prev .card::after, .swiper .swiper-slide-next .card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #132833;
  opacity: 0.4;
  border-radius: 8px;
}
.swiper .swiper-pagination {
  bottom: 0;
}
.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #018B40;
}
@media (min-width: 576px) {
  .swiper {
    padding-bottom: 60px;
  }
  .swiper .swiper-slide-prev .card, .swiper .swiper-slide-next .card {
    position: unset;
  }
  .swiper .swiper-slide-prev .card::after, .swiper .swiper-slide-next .card::after {
    z-index: -1;
  }
}
@media (min-width: 992px) {
  .swiper {
    padding-bottom: 5;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f8f4;
  transition: 0.3s;
  filter: drop-shadow(0px 0px 6px rgba(45, 62, 80, 0.2));
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  color: #2D3E50;
  font-weight: 700;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #D6ECE0;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #018B40;
}

.swiper-button-next {
  right: 4px;
}

.swiper-button-prev {
  left: 4px;
}

.nav_tabs .nav-tabs {
  border: none;
  margin-bottom: 16px;
}
.nav_tabs .nav-tabs .nav-item {
  width: 90px;
  margin: 0 6px 6px 0;
}
.nav_tabs .nav-tabs .nav-link {
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #132833;
  padding: 10px;
}
.nav_tabs .nav-tabs .nav-link:hover {
  background-color: #018B40;
  color: #FFFFFF;
}
.nav_tabs .nav-tabs .active {
  background-color: #018B40;
  color: #FFFFFF;
}

.card_paper {
  padding: 20px 16px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.card_paper:not(:last-of-type) {
  margin-bottom: 16px;
}
.card_paper__img {
  display: none;
}
.card_paper h3 {
  margin-bottom: 16px;
}
.card_paper h3 a {
  color: #132833;
  font-weight: 600;
  font-size: 16px;
}
.card_paper h3 a:hover {
  color: #018B40;
}
.card_paper__tags {
  margin-top: 16px;
}
.card_paper__tags a {
  font-size: 12px;
  font-weight: 500;
}
.card_paper__tags a:not(:last-child)::after {
  content: ",";
}
.card_paper__tags a:hover {
  color: #132833;
}
@media (min-width: 768px) {
  .card_paper {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
  }
  .card_paper:not(:last-of-type) {
    margin-bottom: 24px;
  }
  .card_paper__img {
    display: block;
    padding: 20px 16px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
  }
}

@media (min-width: 992px) {
  .sidebar .accordion .accordion-item {
    box-shadow: none;
    border-radius: 0;
  }
  .sidebar .accordion .accordion-item:not(:last-of-type) {
    margin-bottom: 16px;
  }
  .sidebar .accordion .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 4px 4px 0 0;
  }
  .sidebar .accordion .accordion-button {
    background-color: #2D3E50;
    color: #FFFFFF;
    border-radius: 4px 4px 0 0;
  }
  .sidebar .accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
  .sidebar .accordion .accordion-button:not(.collapsed) {
    background-color: #132833;
    color: #FFFFFF;
  }
  .sidebar .accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
  .sidebar .accordion .accordion-body {
    background-color: #F7F7F7;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sidebar .accordion .indexed_in .accordion-header {
    position: relative;
  }
  .sidebar .accordion .indexed_in .accordion-header .btn {
    font-size: 14px;
    width: 66px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    padding: 6px 0;
  }
  .sidebar .accordion .indexed_in .accordion-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 4px;
  }
  .sidebar .accordion .menu ul {
    list-style: none;
    background-color: #FFFFFF;
    padding-left: 0;
  }
  .sidebar .accordion .menu ul li {
    margin-bottom: 4px;
  }
  .sidebar .accordion .menu ul a {
    color: #132833;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 6px 40px 6px 18px;
    box-shadow: 0px 0px 2px 0px rgba(1, 139, 64, 0.5);
  }
  .sidebar .accordion .menu ul a::after {
    content: "›";
    height: 100%;
    font-size: 32px;
    font-weight: 300;
  }
  .sidebar .accordion .menu ul a.active, .sidebar .accordion .menu ul a:hover {
    background-color: #018B40;
    color: #FFFFFF;
    padding-left: 26px;
  }
  .sidebar .accordion .links ul a {
    background-color: #2D3E50;
    color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    padding: 6px 18px;
  }
}

@media (min-width: 992px) {
  .card_sidebar {
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
    padding: 12px 16px;
  }
  .card_sidebar h4 {
    font-size: 14px;
    font-weight: 500;
  }
  .card_sidebar h4 a {
    color: #132833;
  }
  .card_sidebar h4 a:hover {
    color: #018B40;
  }
  .card_sidebar__label {
    padding: 4px 8px;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 500;
    background-color: #018B40;
    color: #FFFFFF;
    border-radius: 2px;
  }
  .card_sidebar__date {
    font-size: 12px;
    font-weight: 400;
  }
  .card_sidebar:first-child {
    margin-top: 4px;
  }
}

@media (min-width: 992px) {
  .card_logo {
    height: 70px;
    background-color: #FFFFFF;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(33, 37, 41, 0.25);
  }
  .card_logo img {
    max-width: 95px;
  }
}

.page_content__title {
  height: 52px;
  padding: 20px 16px;
  background-color: #018B40;
  color: #FFFFFF;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.page_content__data {
  padding: 20px 14px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.page_content__img {
  margin-bottom: 24px;
}
.page_content__img img {
  max-height: 75px;
  width: 100%;
  object-fit: cover;
}
.page_content__img::after {
  content: "";
  display: block;
  background-color: #132833;
}
.page_content p {
  margin-bottom: 30px;
}
.page_content h2,
.page_content h3,
.page_content h4,
.page_content h5,
.page_content h6 {
  font-size: 16px;
  font-weight: 700;
}
.page_content ul {
  list-style-image: url(../images/shape/ul_list_start2.png);
}
/*----------------------------------
	~~~ Layout ~~~
-----------------------------------*/
.footer {
  background-color: #132833;
  padding: 16px;
}
.footer .social__link:hover {
  background-color: #018B40;
}
.footer .social__link:hover i {
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/*----------------------------------
	~~~ Sections ~~~
-----------------------------------*/
.banner {
  background-image: url(../images/banner/banner_bg_mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
}
.banner__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}
.banner__content .issue {
  border-radius: 16px 0 10px 0;
}
.banner__content .involve {
  border-radius: 0 16px 0 10px;
}
.banner__content .global {
  border-radius: 0 10px 0 16px;
}
.banner__content .happy {
  border-radius: 10px 0 16px 0;
}
.banner__content_item {
  background-color: #FFFFFF;
  opacity: 80%;
  text-align: center;
  max-width: 130px;
  padding: 20px;
}
.banner__content_amount {
  color: #018B40;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.banner__content_title {
  color: #132833;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .banner {
    background-image: url(../images/banner/banner_bg.jpg);
  }
}
@media (min-width: 1400px) {
  .banner {
    min-height: 720px;
  }
  .banner__content {
    gap: 20px;
  }
  .banner__content .issue {
    border-radius: 39px 0 18px 0;
  }
  .banner__content .involve {
    border-radius: 0 39px 0 18px;
  }
  .banner__content .global {
    border-radius: 0 18px 0 39px;
  }
  .banner__content .happy {
    border-radius: 18px 0 39px 0;
  }
  .banner__content_item {
    max-width: 268px;
    padding: 46px 60px;
  }
  .banner__content_amount {
    font-size: 48px;
    line-height: 40px;
  }
  .banner__content_title {
    font-size: 20px;
    line-height: 24px;
  }
}

.about {
  background-color: #FFFFFF;
}
.about__content {
  margin-bottom: 40px;
}
.about__bg_shap {
  display: none;
}
@media (min-width: 1200px) {
  .about__bg_shap {
    display: block;
    position: absolute;
    right: -60px;
    bottom: 0;
    max-width: 300px;
  }
}

.feature {
  margin-bottom: 40px;
}
.feature h2 {
  margin-bottom: 24px;
}

.why_choose {
  background-image: url(../images/why_choose/why_choose_bg_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.why_choose::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #132833;
  opacity: 0.8;
  z-index: -1;
}
.why_choose__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.why_choose__card {
  background-color: #FFFFFF;
  display: flex;
  width: 136px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.why_choose__icon {
  color: #018B40;
}
.why_choose__icon i {
  font-size: 38px;
}
.why_choose__text {
  text-align: center;
}
.why_choose__text h3 {
  font-weight: 600;
  color: #2D3E50;
  font-size: 16px;
}
.why_choose__text span {
  font-size: 24px;
  font-weight: 700;
  color: #132833;
}
.why_choose h2,
.why_choose ul {
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .why_choose__cards {
    gap: 24px;
  }
  .why_choose__card {
    width: auto;
    padding: 24px;
    flex-direction: row;
    gap: 16px;
  }
}

.we_have {
  background-color: #2D3E50;
}
.we_have h2,
.we_have h3,
.we_have p,
.we_have span {
  color: #FFFFFF;
}
.we_have h2,
.we_have p {
  text-align: center;
}
.we_have img {
  border-radius: 8px;
}
.we_have__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.we_have__card {
  text-align: center;
}
.we_have__card span {
  font-size: 32px;
  color: #018B40;
  font-weight: 700;
}
.we_have__card h3 {
  margin-top: 16px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .we_have h2,
  .we_have p {
    text-align: start;
  }
  .we_have h2 {
    font-size: 32px;
  }
}

.footer_before {
  background-color: #2D3E50;
  box-shadow: 0px -1px 0px 0px #018B40 inset;
  padding: 30px 16px;
}
.footer_before .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_before h2 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.footer_before .btn {
  height: 44px;
}
@media (min-width: 1200px) {
  .footer_before {
    padding: 40px;
  }
  .footer_before h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .footer_before .btn {
    height: 54px;
  }
}

/*----------------------------------
	~~~ Pages ~~~
----------------------------------- *//*# sourceMappingURL=style.css.map */