@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

// Animation slide-top
.slide-top {
	-webkit-animation: slide-top 1.5s linear .5s infinite alternate both;
	animation: slide-top 1.5s linear .5s infinite alternate both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}

// Animation scale-up-center
.scale-up-center {
	-webkit-animation: scale-up-center 1.5s linear .5s infinite alternate both;
	animation: scale-up-center 1.5s linear .5s infinite alternate both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}