// Color
$color_primary: #018B40;
$color-secondary: #F2F2F2;
$color_complementary: #8B014C;
$color_natural_head: #132833;
$color_natural_description: #2D3E50;
$color_white: #FFFFFF;
$color_body: #D9D9D9;

// Fonts
$font_open_sans: 'Open Sans', sans-serif;
$font_oswald: 'Oswald', sans-serif;

// Transitions
$transition: 0.3s;

// Radius
$radius_1: 4px;
$radius_2: 6px;
$radius_3: 8px;
$radius_4: 10px;
$radius_5: 12px;
$radius_6: 14px;
$radius_7: 16px;
$radius_8: 20px;
$radius_9: 24px;
$radius_rounded: 100px;
$radius_circle: 50%;

// Shadow
